<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- swiper cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- mapbox dependencies -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.js"></script>

    <!-- mapbox geolocation -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>

    <!-- for the search bar -->
    <script id="search-js" defer src="https://api.mapbox.com/search-js/v1.1.0/web.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Skatespot App</title>
    <link rel="stylesheet" href="/index.css">
    <style>
        .nav-div{
            box-shadow: none;
            /* border-bottom: none; */
        }

        .swiper {
            width: 100%;
            height: 50vh;
        }

        body{
            overflow: hidden;
        }
    </style>
</head>
<body>
    
    <div class="spinner-container" id="spinnerContainer">
        <img src="/logos/skateboardlight.png" alt="spinner" class="spinner">
    </div>
    <%- include('templates/nav.ejs') %>
    <%- include('templates/alert.ejs') %>
    <%- include('templates/theme.ejs') %>
    <div class="map-inner-sidebar-content" id="menuContent">
        <!-- <img src="./logos/closelight.png" alt="close menu" class="close-menu" onclick="hideMenu()"> -->
        <div class="addspot-div" id="addSpotDiv">
            <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert" onclick="hideMenu()">
            <button class="add-spot-button" id="addNewSpotButton">Add new spot</button>
            <div id="spotInformation" style="margin-top: 2em;">
                <p>Filters</p>
                <div>
                    <div class="map-filters">
                        <div style="display: flex; flex-direction: column;">
                            <label for="typeFilter">Spot type</label>
                            <select name="typefilter" id="typeFilter" style="padding: 0.3em; margin-top: 0.5em; border: 1px solid gray; border-radius: 4px;" onchange="handleSpotFilters()">
                                <option value="" selected disabled>select</option>
                                <option value="all">all</option>
                                <option value="ledge">ledge</option>
                                <option value="rail">rail</option>
                                <option value="stairs">stairs</option>
                                <option value="park">park</option>
                                <option value="other">other</option>
                            </select>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <label for="sortByFilter">Sort By</label>
                            <select name="sortBy" id="sortByFilter" style="padding: 0.3em; margin-top: 0.5em; border: 1px solid gray; border-radius: 4px;" onchange="handleSpotFilters()">
                                <option value="" selected disabled>select</option>
                                <option value="popular">Popularity</option>
                                <option value="recent">most recent</option>
                            </select>
                        </div>
                        
                    </div>
                    <div style="margin-bottom: 1em;">
                        <input type="checkbox" name="yourFavouritesCheck" id="yourFavouritesCheck" onchange="handleSpotFilters()">
                        <label for="yourFavouritesCheck">Your favourites</label>
                    </div>
                    <div>
                        <input type="checkbox" name="savedSpotsCheck" id="savedSpotsCheck" onchange="handleSpotFilters()">
                        <label for="savedSpotsCheck">Saved Spots</label>
                    </div>
                </div>
                <p style="margin-top: 2em;">Results</p>
                <div class="spots-list">
                    <% for(var x = 0; x < spots.length; x++) { %>
                    <div class="spot-list-item">
                        <div class="spot-list-item-image" style="background-image: url('<%= spots[x].spotimages[0] %>');"></div>
                        <div class="spot-list-item-details">
                            <p><%= spots[x].description %></p>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <% for(var x = 0; x < spots.length; x++) { %>
    <div class="spot-details-modal" id="spotDetailsModal<%= spots[x]._id  %>">
        <div class="spot-details-modal-inner" id="spotDetailsInner<%= spots[x]._id  %>">
            <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert" onclick="hideDetails('<%= spots[x]._id  %>')">
            <button class="add-comment" id="addCommentButton<%= spots[x]._id  %>">COMMENT</button>
            <form action="" class="add-comment-form" id="addCommentForm<%= spots[x]._id  %>">
                <textarea name="commentInput" id="commentInput<%= spots[x]._id  %>" class="comment-input" rows="3" placeholder="Add comment"></textarea>
                <input type="hidden" name="type" id="type<%= spots[x]._id  %>" value="newComment">
                <input type="hidden" name="replyId" id="replyId<%= spots[x]._id  %>" value="">
                <div style="display: flex; gap: 1em;">
                    <button class="add-comment-button" type="submit">SEND</button>
                    <button class="cancel-comment-button" type="button" id="cancelComment<%= spots[x]._id  %>">CANCEL</button>
                </div>
            </form>
            <div class="spot-details-modal-content">
                <div class="swiper" style="height: 60vh;">
                    <div class="swiper-wrapper">
                        <% for(var y = 0; y < spots[x].spotimages.length; y++) { %>
                        <div class="swiper-slide">
                            <div class="carousel-image" style="background-image: url('<%= spots[x].spotimages[y]  %>'); background-size: contain;"></div>
                        </div>
                        <% } %>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <button id="getDirections<%= spots[x]._id  %>" data-lng="<%= spots[x].longitude %>" data-lat="<%= spots[x].latitude %>" data-id="<%= spots[x]._id  %>">Get Directions</button>
                <p id="spotDetailsTitle"><%= spots[x].description  %></p>
                <div style="height: 1px; background-color: gray; margin: 1em 0em;"></div>
                <p id="loadingComments<%= spots[x]._id %>">Loading Comments...</p>
                <div class="comments-div" id="commentsDiv<%= spots[x]._id %>" data-loaded="false">
                    
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("addCommentButton<%= spots[x]._id  %>").addEventListener("click", function() {
            let commentForm = document.getElementById("addCommentForm<%= spots[x]._id  %>")
            let commentButton = document.getElementById("addCommentButton<%= spots[x]._id  %>")
            let type = document.getElementById("type<%= spots[x]._id  %>")
            let input = document.getElementById("commentInput<%= spots[x]._id  %>")
            input.value = ""
            commentForm.style.display = "flex"
            commentButton.style.display = "none"
            type.value = "comment"
        })
        document.getElementById("cancelComment<%= spots[x]._id  %>").addEventListener("click", function() {
            let commentForm = document.getElementById("addCommentForm<%= spots[x]._id  %>")
            let commentButton = document.getElementById("addCommentButton<%= spots[x]._id  %>")
            commentForm.style.display = "none"
            commentButton.style.display = "block"
        })
        document.getElementById("addCommentForm<%= spots[x]._id  %>").addEventListener("submit", function(e) {
            e.preventDefault()
            let commentData = {
                comment: document.getElementById("commentInput<%= spots[x]._id  %>").value,
                type: document.getElementById("type<%= spots[x]._id  %>").value,
                spotId: "<%= spots[x]._id  %>",
                replyId: document.getElementById("replyId<%= spots[x]._id  %>").value
            }
            fetch("/updateComment", {
                method: "POST",
                headers: {
                    // "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(commentData)
            })
            .then(async res => {
                let result = await res.json()
                console.log("result", result)
                let commentForm = document.getElementById("addCommentForm<%= spots[x]._id  %>")
                let commentButton = document.getElementById("addCommentButton<%= spots[x]._id  %>")
                commentForm.style.display = "none"
                commentButton.style.display = "block"
                if (result.status === "SUCCESS") {
                    if (result.newComment.type === "comment") {
                        loadComments("<%= spots[x]._id  %>", [result.newComment])
                        replyListeners("<%= spots[x]._id  %>")

                    } else if(result.newComment.type === "reply"){
                        loadReplies("<%= spots[x]._id  %>", [result.newComment])
                        replyListeners("<%= spots[x]._id  %>")

                    }
                } else if (result.status === "ERROR") {
                    addNewAlert(res.status, res.message)
                }
            })
            .catch(error => {
                addNewAlert("ERROR", "Error adding comment")
            })
        })
    </script>
    <% } %>

    <div class="map-outer-div">
        <div class="map-inner-sidebar" onclick="showMenu()" id="optionsButton">
            <!-- <img src="/logos/menu.png" alt="menulogo" class="menu-logo"> -->
            <p style="margin: 0; color: black;">OPTIONS</p>
        </div>
        <div class="directions-detail-container" id="directionsDetails">
            <img src="/logos/closelight.png" style="height: 1em; cursor: pointer; float: right;" alt="" onclick="closeDirectionsDetails()">
            <p style="clear: both;"><span id="directionsDistance">0</span> meters</p>
            <p>Accuracy: <span id="directionsAccuracy">25</span> meters</p>
            <div class="directions-picker">
                <p style="background-color: blue;">drive</p>
                <p style="background-color: green;">walk</p>
                <p style="background-color: purple;">cycle</p>
            </div>
        </div>
        <div id="map" class="map-div"></div>
        <div class="map-sidebar" id="addSpotForm">
            <button class="cancel-spot-button" id="cancelNewSpotButton">Cancel</button>
            <p>Drag the red marker to spot location(Current Location might be inaccurate)</p>
            <form action="/addspot" method="post" class="addspot-form">
                <input type="hidden" value="0" name="longitude" id="longitude">
                <input type="hidden" value="0" name="latitude" id="latitude">
                <mapbox-search-box access-token="<%= mapboxtoken %>" proximity="0, 0" style="margin-bottom: 1em;"></mapbox-search-box>
                <!-- <label for="serachArea">Search</label> -->
                <!-- <input type="text" name="searchArea" id="searchArea"> -->
                <label for="description" style="margin-bottom: 0.5em;">Description</label>
                <textarea name="description" id="description" style="margin-bottom: 1em; height: 4em; border-radius: 5px; padding: 5px; background-color: rgba(0, 0, 0, 0); color: white;"></textarea>

                <label for="spottype">Spot Type</label>
                <select name="spottype" id="spottype" style="padding: 0.3em; margin-top: 0.5em; border: 1px solid gray; border-radius: 4px; margin-bottom: 1em;">
                    <option value="" selected disabled>select one</option>
                    <option value="rail">rail</option>
                    <option value="stairs">stairs</option>
                    <option value="park">park</option>
                    <option value="ledge">ledge</option>
                    <option value="other">other</option>
                </select>

                <label for="spotImages" style="margin-bottom: 0.5em;">Upload Images</label>
                <input type="file" name="images" id="spotImages" accept="image/png, image/jpeg" multiple required>
                <!-- <input type="file" name="images" id="spotImages" accept="image/png, image/jpeg" multiple> -->
                <p style="font-size: 0.8em; margin-top: 5px;">File size: <span id="fileSizeSpan">0</span> mb</p>

                <button class="spot-confirm">Confirm</button>
            </form>
        </div>
    </div>
</body>
<div id="spot-container" data-object="<%= JSON.stringify(spots) %>"></div>
<script>
    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        // slidesPerView: 2,
        loop: true,
        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });

    let dataContainer = document.getElementById('spot-container');
    let spotsData = JSON.parse(dataContainer.getAttribute('data-object'));
    // let spotsData = JSON.parse('<%- JSON.stringify(spots)%>')

    async function getUser() {
        let userRes = fetch('/getUser')
        .then(res => {
            console.log(res)
            return res
        })
    }

    function showMenu() {
        let menuContent = document.getElementById("menuContent")
        let addSpotDiv = document.getElementById("addSpotDiv")
        addSpotDiv.style.transform = "translateY(0)"
        // menuContent.style.display = "flex"
        menuContent.style.opacity = "1"
        menuContent.style.pointerEvents = "auto"
        // popup.remove()
    }

    function hideMenu() {
        let menuContent = document.getElementById("menuContent")
        // menuContent.style.display = "none"
        menuContent.style.opacity = "0"
        menuContent.style.pointerEvents = "none"
        addSpotDiv.style.transform = "translateY(-20%)"
    }

    let detailsIsOpen = false
    let openDetailsId = null

    function hideDetails(id) {
        let spotDetailsModal = document.getElementById(`spotDetailsModal${id}`)
        let spotDetailsInner = document.getElementById(`spotDetailsInner${id}`)
        // spotDetailsModal.style.display = "none"
        spotDetailsModal.style.opacity = "0"
        spotDetailsInner.style.transform = "translateY(-20%)"
        spotDetailsModal.style.pointerEvents = "none"
        detailsIsOpen = false
        openDetailsId = null
        popup.remove()
    }

    async function showSpotDetails(id) {
        let spotDetailsModal = document.getElementById(`spotDetailsModal${id}`)
        let spotDetailsInner = document.getElementById(`spotDetailsInner${id}`)
        // spotDetailsModal.style.display = "flex"
        spotDetailsModal.style.opacity = "1"
        spotDetailsInner.style.transform = "translateY(0)"
        spotDetailsModal.style.pointerEvents = "auto"
        // popup.remove()
        detailsIsOpen = true
        openDetailsId = id
        let commentsLoaded = document.getElementById(`commentsDiv${id}`).getAttribute("data-loaded")
        if (commentsLoaded === "false") {
            await fetch(`/loadComments?spotId=${id}`, {
                method: "GET"
            })
            .then(async res => {
                let resData = await res.json()
                console.log(resData)
                if (resData.status === "SUCCESS") {
                    loadComments(id, resData.comments)
                    loadReplies(id, resData.replies)
                    replyListeners(id)
                    console.log("users in conversation", usersInConversation)
                    await loadCommentsInfo(id)
                    document.getElementById(`commentsDiv${id}`).setAttribute("data-loaded", "true")
                } else if(resData.status === "ERROR") {
                    addNewAlert(resData.status, resData.message)
                }
            })
            .catch(error => {
                console.log(error)
            })
        }
    }

    document.addEventListener("click", function(e) {
        let addSpotDiv = document.getElementById("addSpotDiv")
        let optionsButton = document.getElementById("optionsButton")
        if (!addSpotDiv.contains(e.target) && !optionsButton.contains(e.target)) {
            hideMenu()
        }
        if (detailsIsOpen) {
            let spotDetailsInner = document.getElementById(`spotDetailsInner${openDetailsId}`)
            let spotDetailsButton = document.getElementById(`spotDetailsButton${openDetailsId}`)
            if(!spotDetailsInner.contains(e.target) && !spotDetailsButton.contains(e.target)){
                hideDetails(openDetailsId)
            }
        }
    })

    function openDirectionsDetails() {
        document.getElementById("directionsDetails").style.display = "block"
    }

    function closeDirectionsDetails() {
        document.getElementById("directionsDetails").style.display = "none"
        map.removeLayer("route")
        clearInterval(directionsInterval)
        clearInterval(userPositionInterval)
        directionsmarker.remove()
    }

    mapboxgl.accessToken = "<%= mapboxtoken %>"
    let darkMap = "<%= darkMap %>"
    const map = new mapboxgl.Map({
        container: 'map',
        style: darkMap === "true" ? 'mapbox://styles/mapbox/dark-v11' : 'mapbox://styles/mapbox/streets-v12',
        // style: 'mapbox://styles/mapbox/streets-v12',
        // style: 'mapbox://styles/mapbox/satellite-streets-v12',
        center: [36.8219, -1.2921],
        zoom: 10
    })
    // map.addControl(new mapboxgl.GeolocateControl({
    //     positionOptions: {
    //         enableHighAccuracy: true
    //     },
    //     trackUserLocation: true,
    //     showUserHeading: true,
    // }));

    async function likeAction(spotID) {
        let likeButton = document.getElementById(`likeButton${spotID}`)
        let isLiked = likeButton.getAttribute("data-isliked")
        await fetch("/updateLiked", {
            method: "POST",
            headers: {
                // "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                ID: spotID,
                isLiked: isLiked
            })
        })
        .then(async res => {
            let likeRes = await res.json()
            console.log(likeRes)
            if (isLiked === "true") {
                likeButton.style.animationName = "unlikeAnimation"
                setTimeout(function() {
                    likeButton.setAttribute("src", "/logos/heart-unfilledlight.png")
                    likeButton.setAttribute("data-isliked", "false")
                }, 150)
            } else {
                likeButton.style.animationName = "likeAnimation"
                setTimeout(function() {
                    likeButton.setAttribute("src", "/logos/heart-filledlight.png")
                    likeButton.setAttribute("data-isliked", "true")
                }, 150)
            }
        })
        .catch(error => {
            console.log(error)
        })
    }

    let repliesController = null
    function replyListeners(id) {
        if (repliesController) {
            repliesController.abort()
        }
        repliesController = new AbortController()
        const repliesSignal = repliesController.signal
        document.querySelectorAll(`.replyEvent${id}`).forEach(elm => {
            elm.addEventListener("click", function(e) {
                let spotID = e.target.getAttribute("data-spotid")
                let author = e.target.getAttribute("data-author")
                let replyref = e.target.getAttribute("data-replyref")
                let commentForm = document.getElementById(`addCommentForm${id}`)
                let commentButton = document.getElementById(`addCommentButton${id}`)
                let input = document.getElementById(`commentInput${id}`)
                let replyID = document.getElementById(`replyId${id}`)
                replyID.value = replyref
                commentForm.style.display = "flex"
                commentButton.style.display = "none"
                let type = document.getElementById(`type${id}`)
                type.value = "reply"
                input.value = `@${author} `
            }, {signal: repliesSignal})
        })
    }

    let usersInConversation = []

    function loadComments(spotId, comments, reload = "false") {
        console.log(spotId)
        let commentsDiv = document.getElementById(`commentsDiv${spotId}`)
        if (reload === "true") {
            commentsDiv.replaceChildren()
        }
        for (let x = 0; x < comments.length; x++) {
            if (!usersInConversation.includes(comments[x].author)) {
                usersInConversation.push(comments[x].author)
            }
            let commentNode = `<div class="comment-container">
                <div style="display: flex; flex-direction: column; gap: 1em; align-self: stretch; align-items: center;">
                    <div class="comment-profile-image change-comment-image-${comments[x].author}" style="background-image: url('/images/defaultProfile2.png');" id="commentprofileImage${comments[x]._id}"></div>
                    <div class="comment-line"></div>
                </div>
                <div class="comment-content-div">
                    <div class="comment-info-div">
                        <p style="font-weight: bold; margin-top: 0;" class="change-comment-username-${comments[x].author}">User112</p>
                        <p style="color: gray; margin-top: 0;">${comments[x].dateAdded}</p>
                    </div>
                    <div class="comment-content">${comments[x].content}</div>
                    <p class="reply-button replyEvent${spotId} change-author-${comments[x].author}" id="replyButton${comments[x]._id}" data-author="User" data-replyref="${comments[x]._id}" data-spotid="${spotId}">reply</p>
                    <div class="comment-reply-container" id="repliesContainer${spotId}-${comments[x]._id}">
                    </div>
                </div>
            </div>`
            commentsDiv.insertAdjacentHTML("beforeend", commentNode)
        }
        document.getElementById(`loadingComments${spotId}`).style.display = "none"
    }

    function loadReplies(spotId, replies) {
        console.log(spotId)
        for (let x = 0; x < replies.length; x++) {
            if (!usersInConversation.includes(replies[x].author)) {
                usersInConversation.push(replies[x].author)
            }
            let repliesContainer = document.getElementById(`repliesContainer${spotId}-${replies[x].replyId}`)
            let reply = `<div class="comment-reply-div">
                <div class="comment-profile-image change-comment-image-${replies[x].author}" style="background-image: url('/images/defaultProfile2.png');" id="replyprofileImage${replies[x]._id}"></div>
                <div class="comment-content-div">
                    <div class="comment-info-div">
                        <p style="font-weight: bold; margin-top: 0;" class="change-comment-username-${replies[x].author}">User</p>
                        <p style="color: gray; margin-top: 0;">${replies[x].dateAdded}</p>
                    </div>
                    <div class="comment-content">${replies[x].content}</div>
                    <p class="reply-button replyEvent${spotId} change-author-${replies[x].author}" id="replyButton${replies[x]._id}" data-author="User" data-replyref="${replies[x].replyId}" data-spotid="${spotId}">reply</p>
                </div>
            </div>`
            repliesContainer.insertAdjacentHTML("beforeend", reply)
        }
    }

    async function loadCommentsInfo(spotId) {
        await fetch("/commentUserInfo", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                usersList: usersInConversation
            })
        })
        .then(async res => {
            let resData = await res.json()
            console.log(resData)
            if (resData.status === "SUCCESS") {
                resData.data.forEach(item => {
                    document.getElementById(`commentsDiv${spotId}`).querySelectorAll(`.change-comment-image-${item.id}`).forEach(elm => {
                        elm.style.backgroundImage = `url("${item.profilePicture}")`
                    })
                    document.getElementById(`commentsDiv${spotId}`).querySelectorAll(`.change-comment-username-${item.id}`).forEach(elm => {
                        elm.innerText = item.username
                    })
                    document.getElementById(`commentsDiv${spotId}`).querySelectorAll(`.change-author-${item.id}`).forEach(elm => {
                        elm.setAttribute("data-author", item.username)
                    })
                })
                usersInConversation = []
            }
        })
    }

    let spotPoints = spotsData.map((item, index) => {
        let user = "<%= userID %>"
        let isLiked = false
        if (item.interactions.likes.includes(user)) {
            isLiked = true
        }
        return {
            type: 'Feature',
            properties: {
                description:
                `<div>
                    <img class="spot-details-image" src="${item.spotimages[0]}"></img>
                    <div style="padding: 1em;" class="popup-details">
                        <p style="font-weight: bold; font-size: 1em; margin-bottom: 0px; margin-top: 0em; color: gray;">Type: ${item.spottype}</p>
                        <p style="font-size: 1.3em; margin-top: 0.5em; margin-bottom: 0.5em;">${item.description}</p>
                        <p style="font-size: 1.3em; color: var(--lightblue); margin: 0;">Uploaded by: ${item.createdBy}</p>
                        <div class="popup-interactions">
                            <div style="display: flex; gap: 5px">
                                <div style="display: flex; align-items: center; gap: 0.5em">
                                    <img src="${isLiked === true ? '/logos/heart-filledlight.png' : '/logos/heart-unfilledlight.png'}" class="like-button" id="likeButton${item._id}" data-isliked="${isLiked === true ? 'true' : 'false'}" onclick="likeAction('${item._id}')"></img>
                                    <p>${item.interactions.likes.length}</p>
                                </div>
                                <div style="display: flex; align-items: center; gap: 0.5em">
                                    <img src="/logos/comments-light.png" style="height: 2em;"></img>
                                    <p>0</p>
                                </div>
                            </div>
                            <button class='spot-details-button' id="spotDetailsButton${item._id}" onclick="showSpotDetails('${item._id}')">Details</button>
                        </div>    
                    </div>
                </div>`
            },
            geometry: {
                type: 'Point',
                coordinates: [item.longitude, item.latitude]
            },
            spotID: item._id,
            spotType: item.spottype
        }
    })

    // console.log('spot points', spotPoints)
    let spotCategories = {
        ledge: [],
        rail: [],
        stairs: [],
        park: [],
        other: [],
    }
    async function getOneSpot(paramName) {
        let searchParams = new URLSearchParams(window.location.search)
        if (searchParams.has(paramName)) {
            let spotID = searchParams.get(paramName)
            let spotResult = await fetch(`/getSpot?spotID=${spotID}`)
            let spotData = await spotResult.json()
            if(spotData.spot) {
                map.easeTo({
                    center: [spotData.spot.longitude, spotData.spot.latitude],
                    zoom: 13,
                    duration: 500
                })
                for (x of spotPoints) {
                    if (x.spotID === spotID) {
                        popup.setLngLat([spotData.spot.longitude, spotData.spot.latitude]).setHTML(x.properties.description).addTo(map);
                        
                    }
                }
            } else {
                addNewAlert(spotData.status, spotData.message)
            }
        }
    }

    for (x of spotPoints) {
        if (x.spotType === "ledge") {
            spotCategories.ledge.push(x)
        } else if (x.spotType === "rail") {
            spotCategories.rail.push(x)
        } else if (x.spotType === "stairs") {
            spotCategories.stairs.push(x)
        } else if (x.spotType === "park") {
            spotCategories.park.push(x)
        } else {
            spotCategories.other.push(x)
        }
    }

    let categoryEntries = Object.entries(spotCategories)
    console.log(categoryEntries)

    const popup = new mapboxgl.Popup({maxWidth: screen.width > 500 ? "390px" : "70%"})
    let directionsInterval = null
    let userPositionInterval = null
    map.on('load', () => {
        for (let x = 0; x < categoryEntries.length; x++) {
            let pointColor = ""
            if (categoryEntries[x][0] === "stairs") {
                pointColor = "green"
                map.loadImage("/logos/stairs.png", (error, image) => {
                    if (error) throw error
                    map.addImage("stairsImage", image)
                })
            } else if (categoryEntries[x][0] === "rail") {
                pointColor = "blue"
                map.loadImage("/logos/rail.png", (error, image) => {
                    if (error) throw error
                    map.addImage("railImage", image)
                })
            } else if (categoryEntries[x][0] === "park") {
                pointColor = "purple"
                map.loadImage("/logos/park.png", (error, image) => {
                    if (error) throw error
                    map.addImage("parkImage", image)
                })
            } else if (categoryEntries[x][0] === "ledge") {
                pointColor = "red"
                map.loadImage("/logos/ledge.png", (error, image) => {
                    if (error) throw error
                    map.addImage("ledgeImage", image)
                })
            } else {
                pointColor = "gray"
                map.loadImage("/logos/star.png", (error, image) => {
                    if (error) throw error
                    map.addImage("otherImage", image)
                })
            }
            map.addSource(`spotsSource${categoryEntries[x][0]}`, {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': categoryEntries[x][1]
                }
            })

            map.addLayer({
                'id': `spotsLayer${categoryEntries[x][0]}`,
                // 'type': 'symbol',
                'type': 'circle',
                'source': `spotsSource${categoryEntries[x][0]}`,
                // 'layout': {
                //     'icon-image': `${categoryEntries[x][0]}Image`,
                //     // 'icon-image': 'heart',
                //     'icon-size': 0.05,
                //     'icon-allow-overlap': true
                // },
                'paint': {
                    'circle-color': pointColor,
                    // 'circle-color': categoryEntries[x][0] === "stairs" ? '#021526' : "red",
                    'circle-radius': 8,
                    'circle-stroke-width': 2,
                    'circle-stroke-color': '#ffffff'
                }
            })

            map.on("click", `spotsLayer${categoryEntries[x][0]}`, (e) => {
                map.getCanvas().style.cursor = "pointer"
                const coordinates = e.features[0].geometry.coordinates.slice()
                const description = e.features[0].properties.description
                popup.setLngLat(coordinates).setHTML(description).addTo(map);
                map.easeTo({
                    center: e.features[0].geometry.coordinates.slice(),
                    zoom: 13,
                    duration: 500
                })
                // let getLayer = map.getLayer(`spotsLayer${categoryEntries[x][0]}`, 'id')
                // console.log("Layer property", getLayer)
            })
            map.on("mouseover", `spotsLayer${categoryEntries[x][0]}`, e => {
                map.getCanvas().style.cursor = "pointer"
            })
            map.on('mouseleave', `spotsLayer${categoryEntries[x][0]}`, () => {
                map.getCanvas().style.cursor = '';
            });
        }
        getOneSpot('spot')
        for (let x = 0; x < spotsData.length; x++) {
            document.getElementById(`getDirections${spotsData[x]._id}`).addEventListener("click", function() {
                // let directionsGeolocateControl = new mapboxgl.GeolocateControl({
                //     positionOptions: {
                //         enableHighAccuracy: true
                //     },
                //     trackUserLocation: true,
                //     showUserHeading: true,
                // })
                // map.addControl(directionsGeolocateControl);
                let endLng = this.getAttribute("data-lng")
                let endLat = this.getAttribute("data-lat")
                let id = this.getAttribute("data-id")
                console.log(endLng, endLat, id)
                directionsInterval = setInterval(getDirections, 30000, endLng, endLat, id)
                userPositionInterval = setInterval(function () {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function(position) {
                            console.log(position)
                            directionsmarker.setLngLat([position.coords.longitude, position.coords.latitude]).addTo(map)
                        })
                    }
                }, 500)
                // console.log("directionsInterval ID", directionsInterval)
                openDirectionsDetails()
                getDirections(endLng, endLat, id)
                // setTimeout(function() {
                //     clearInterval(directionsInterval)
                // }, 5000)
            })
        }
    })

    let directionsController = null
    const el = document.createElement('div');
    el.className = 'marker';
    let directionsmarker = new mapboxgl.Marker(el, {color: "red"})
    function getDirections(endLng, endLat, id) {
        if(navigator.geolocation) {
            if(directionsController) {
                directionsController.abort()
            }
            directionsController = new AbortController()
            const signal = directionsController.signal
            navigator.geolocation.getCurrentPosition(async function(position) {
                console.log(position)
                document.getElementById("directionsAccuracy").innerText = parseInt(position.coords.accuracy)
                let accessToken = "<%= mapboxtoken %>"
                let directionsUrl = `https://api.mapbox.com/directions/v5/mapbox/cycling/${position.coords.longitude},${position.coords.latitude};${endLng},${endLat}?geometries=geojson&access_token=${accessToken}`
                await fetch(directionsUrl, {signal: signal})
                .then(async res => {
                    let json = await res.json()
                    console.log(json)
                    if (map.getSource("route")) {
                        map.getSource("route").setData(json.routes[0].geometry)
                        console.log(json.routes[0].distance)
                        document.getElementById("directionsDistance").innerText = parseInt(json.routes[0].distance)
                        hideDetails(id)
                    } else {
                        map.addLayer({
                            id: 'route',
                            type: 'line',
                            source: {
                                type: 'geojson',
                                data: {
                                    type: "Feature",
                                    properties: {},
                                    geometry: json.routes[0].geometry
                                }
                            },
                            layout: {
                                'line-join': 'round',
                                'line-cap': 'round'
                            },
                            paint: {
                                'line-color': "#37ff00",
                                'line-width': 4,
                                'line-opacity': 1
                            }
                        })
                        hideDetails(id)
                        map.easeTo({
                            center: [position.coords.longitude, position.coords.latitude],
                            zoom: 13
                        })
                    }
                    directionsmarker.setLngLat([position.coords.longitude, position.coords.latitude]).addTo(map)
                })
                .catch(error => {
                    console.log(error)
                })
            }, function(error) {
                // window.alert("Cannot get user Location")
                console.log(error)
                addNewAlert("ERROR", "Cannot get user location")
            }, {
                enableHighAccuracy: true,
                timeout: 10000,
                maximumAge: 0
            })
        } 
    }

    function handleSpotFilters() {
        let typeFilter = document.getElementById("typeFilter")
        let sortByFilter = document.getElementById("sortByFilter")
        let yourFavouritesCheck = document.getElementById("yourFavouritesCheck")
        let savedSpotsCheck = document.getElementById("savedSpotsCheck")
        // if (typeFilter.value === "ledge") {
        //     map.setLayoutProperty("spotsLayerledge", "visibility", 'none')
        //     // map.setLayoutProperty("spotsLayerledge", "visibility", 'visible')
        // }
        // let paintProperty = map.getPaintProperty('spotsLayerledge', 'source')

        for (x of categoryEntries) {
            if (x[0] === typeFilter.value || typeFilter.value === "all") {
                map.setLayoutProperty(`spotsLayer${x[0]}`, "visibility", "visible")
            } else {
                map.setLayoutProperty(`spotsLayer${x[0]}`, "visibility", "none")
            }
        }
        hideMenu()
        // map.easeTo({
        //     center: [36.8219, -1.2921],
        //     zoom: 10
        // })
    }

    const addSpotMarker = new mapboxgl.Marker({color: "red", draggable: true})
    // addSpotMarker.setRotation(45)
    let markerCoordinates = []
    let longitude = document.getElementById("longitude")
    let latitude = document.getElementById("latitude")
    addSpotMarker.on('dragend', function(e) {
        let lngLat = e.target.getLngLat()
        markerCoordinates = [lngLat.lng, lngLat.lat]
        longitude.value = lngLat.lng
        latitude.value = lngLat.lat
        console.log(markerCoordinates)
    })

    const addNewSpotButton = document.getElementById("addNewSpotButton")
    const cancelNewSpotButton = document.getElementById("cancelNewSpotButton")
    const addSpotForm = document.getElementById("addSpotForm")
    const spotInformation = document.getElementById("spotInformation")

    addNewSpotButton.addEventListener('click', function() {
        hideMenu()
        addSpotForm.style.display = "block"
        // spotInformation.style.display = "none"
        // addNewSpotButton.style.display = "none"

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                console.log(position.coords.latitude, position.coords.longitude, position)
                markerCoordinates = [position.coords.longitude, position.coords.latitude]
                longitude.value = position.coords.longitude
                latitude.value = position.coords.latitude
                map.easeTo({
                    center: [position.coords.longitude, position.coords.latitude],
                    zoom: 13
                })
                addSpotMarker.setLngLat([position.coords.longitude, position.coords.latitude]).addTo(map)
            }, function() {
                addNewAlert("ERROR", "Could not get current position, manually drag red marker to spot.")
                map.easeTo({
                    center: [36.8219, -1.2921],
                    zoom: 13
                })
                addSpotMarker.setLngLat([36.8219, -1.2921]).addTo(map)
            })
        }
    })

    const searchResult = document.getElementById("search-js")
    searchResult.onload = function () {
        const searchBox = document.querySelector('mapbox-search-box')
        searchBox.options = {
            language: 'en',
            // country: 'KE',
            proximity: "36.8219, -1.2921"
            // types: "district, place, city, street, address, poi"
        }

        searchBox.addEventListener('retrieve', e => {
            let searchResultCoordinates = e.detail.features[0].geometry.coordinates
            console.log(searchResultCoordinates)
            map.easeTo({
                center: searchResultCoordinates,
                zoom: 13
            })

            addSpotMarker.setLngLat(searchResultCoordinates).addTo(map)
            markerCoordinates = searchResultCoordinates
        })
    }

    cancelNewSpotButton.addEventListener('click', function() {
        addSpotForm.style.display = "none"
        addSpotMarker.remove()

        map.easeTo({
            center: [36.8219, -1.2921],
            zoom: 10
        })
    })

    function filesToBase64(img) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader
            reader.onload = () => resolve(reader.result)
            reader.onerror = reject
            reader.readAsDataURL(img)
        })
    }

    $(document).ready(() => {
        $("#searchArea").on("input", function() {
            let searchText = $("#searchArea").val()
            let token = "<%= mapboxtoken %>"
            console.log($("#searchArea").val())
            $.ajax({
                method: "get",
                url: `https://api.mapbox.com/search/searchbox/v1/suggest?q=${searchText}&access_token=${token}&session_token=XQRVteWe`,
                data: {},
                success: function(res) {
                    console.log(res)
                },
                error: function(err) {
                    console.log(err)
                }
            })
        })
        $('#spotImages').on('change', function() {
            let images = document.getElementById("spotImages")
            let totalSize = 0
            for (let x = 0; x < images.files.length; x++) {
                totalSize = totalSize + images.files[x].size
            }
            let sizeInMB = totalSize / 1000000
            if (sizeInMB > 10) {
                $('#fileSizeSpan').css("color", "red")
            } else {
                $('#fileSizeSpan').css("color", "green")
            }
            $('#fileSizeSpan').html(sizeInMB.toFixed(2))
        })
        $('#addSpotForm').submit(function(e) {
            e.preventDefault()
            let images = document.getElementById("spotImages")
            let image64Promises = []
            let totalSize = 0
            for (let x = 0; x < images.files.length; x++) {
                image64Promises.push(filesToBase64(images.files[x]))
                totalSize = totalSize + images.files[x].size
            }

            let sizeInMB = totalSize / 1000000
            if (sizeInMB > 10) {
                addNewAlert("ERROR", "Files are too large")
                return
            }

            $("#spinnerContainer").css("display", "block")
            Promise.all(image64Promises)
            .then(fileResults => {
                let sendData = {
                    description: $('#description').val(),
                    spottype: $('#spottype').val(),
                    lng: markerCoordinates[0],
                    lat: markerCoordinates[1],
                    spotimages: fileResults
                }

                $.ajax({
                    method: "post",
                    url: "/addspot",
                    data: sendData,
                    success: function(res) {
                        $("#spinnerContainer").css("display", "none")
                        addNewAlert(res.status, res.message)
                        map.easeTo({
                            center: [36.8219, -1.2921],
                            zoom: 10
                        })
                        addSpotForm.style.display = "none"
                        spotInformation.style.display = "block"
                        cancelNewSpotButton.style.display = "none"
                        addNewSpotButton.style.display = "block"
                        addSpotMarker.remove()
                        addSpotForm.style.display = "none"
                        window.location.replace(`/map?spot=${res.newSpot}`)

                    },
                    error: function(error) {
                        $("#spinnerContainer").css("display", "none")
                        console.log("error on request", error)
                    }
                })
            })
            .catch(err => {
                console.log(err)
            })
        })

    })
</script>
</html>