<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- swiper cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- mapbox dependencies -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.js"></script>

    <!-- mapbox geolocation -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>

    <!-- for the search bar -->
    <script id="search-js" defer src="https://api.mapbox.com/search-js/v1.1.0/web.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> -->

    <script src="https://cdn.jsdelivr.net/gh/WangYuLue/image-conversion/build/conversion.js"></script>
    <title>Skatespot App</title>
    <link rel="stylesheet" href="/index.css">
    <style>
        .nav-div{
            box-shadow: none;
        }

        .swiper {
            width: 100%;
            height: 50vh;
        }

        body{
            overflow: hidden;
        }
    </style>
</head>
<body>
    
    <div class="spinner-container" id="spinnerContainer">
        <img src="/logos/skateboardlight.png" alt="spinner" class="spinner">
    </div>
    <%- include('templates/nav.ejs') %>
    <%- include('templates/alert.ejs') %>
    <%- include('templates/theme.ejs') %>
    <% for(var x = 0; x < spots.length; x++) { %>
    <div class="base-modal spot-details-modal" id="spotDetailsModal<%= spots[x]._id  %>" data-spotid="<%= spots[x]._id  %>">
        <div class="base-modal-inner" id="spotDetailsInner<%= spots[x]._id  %>">
            <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert close-modal" data-toggle-modal="spotDetailsModal<%= spots[x]._id  %>">
            <button class="add-comment" id="addCommentButton<%= spots[x]._id  %>">COMMENT</button>
            <form action="" class="add-comment-form" id="addCommentForm<%= spots[x]._id  %>">
                <textarea name="commentInput" id="commentInput<%= spots[x]._id  %>" class="comment-input" rows="3" placeholder="Add comment" required></textarea>
                <input type="hidden" name="type" id="type<%= spots[x]._id  %>" value="newComment">
                <input type="hidden" name="replyId" id="replyId<%= spots[x]._id  %>" value="">
                <div style="display: flex; gap: 1em;">
                    <button class="add-comment-button" type="submit">SEND</button>
                    <button class="cancel-comment-button" type="button" id="cancelComment<%= spots[x]._id  %>">CANCEL</button>
                </div>
            </form>
            <div class="base-modal-content">
                <div class="swiper swiper<%= spots[x]._id  %>" style="height: 60vh;">
                    <div class="swiper-wrapper" data-loaded="false">
                        <div class="swiper-slide" style="display: flex; align-items: center; justify-content: center;">
                            <img src="/logos/skateboardlight.png" alt="spinner" class="spinner">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div style="display: flex; align-items: center; gap: 1em; margin-top: 2em;">
                    <button class="base-button" style="padding: 10px; font-size: 1em;" id="getDirections<%= spots[x]._id  %>" data-lng="<%= spots[x].longitude %>" data-lat="<%= spots[x].latitude %>" data-id="<%= spots[x]._id  %>">Get Directions</button>
                    <a href="https://www.google.com/maps/search/?api=1&query=<%= spots[x].latitude %>,<%= spots[x].longitude %>" class="secondary-button" style="padding: 10px; display: block; font-size: 1em;">Open in Google maps</a>
                </div>
                <p id="spotDetailsTitle"><%= spots[x].description  %></p>
                <div style="height: 1px; background-color: gray; margin: 1em 0em;"></div>
                <p id="loadingComments<%= spots[x]._id %>">Loading Comments...</p>
                <div class="comments-div" id="commentsDiv<%= spots[x]._id %>" data-loaded="false"></div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("addCommentButton<%= spots[x]._id  %>").addEventListener("click", function() {
            if ("<%= isLoggedIn %>" === "false") {
                addNewAlert("ERROR", "<a href='/login'>Login</a> required to comment")
                return
            }
            let commentForm = document.getElementById("addCommentForm<%= spots[x]._id  %>")
            let commentButton = document.getElementById("addCommentButton<%= spots[x]._id  %>")
            let type = document.getElementById("type<%= spots[x]._id  %>")
            let input = document.getElementById("commentInput<%= spots[x]._id  %>")
            input.value = ""
            commentForm.style.display = "flex"
            commentButton.style.display = "none"
            type.value = "comment"
        })
        document.getElementById("cancelComment<%= spots[x]._id  %>").addEventListener("click", function() {
            let commentForm = document.getElementById("addCommentForm<%= spots[x]._id  %>")
            let commentButton = document.getElementById("addCommentButton<%= spots[x]._id  %>")
            commentForm.style.display = "none"
            commentButton.style.display = "block"
        })
        document.getElementById("addCommentForm<%= spots[x]._id  %>").addEventListener("submit", function(e) {
            e.preventDefault()
            let commentData = {
                comment: document.getElementById("commentInput<%= spots[x]._id  %>").value,
                type: document.getElementById("type<%= spots[x]._id  %>").value,
                spotId: "<%= spots[x]._id  %>",
                replyId: document.getElementById("replyId<%= spots[x]._id  %>").value
            }
            fetch("/updateComment", {
                method: "POST",
                headers: {
                    // "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(commentData)
            })
            .then(async res => {
                let result = await res.json()
                console.log("result", result)
                let commentForm = document.getElementById("addCommentForm<%= spots[x]._id  %>")
                let commentButton = document.getElementById("addCommentButton<%= spots[x]._id  %>")
                commentForm.style.display = "none"
                commentButton.style.display = "block"
                if (result.status === "SUCCESS") {
                    if (result.newComment.type === "comment") {
                        loadComments("<%= spots[x]._id  %>", [result.newComment], {newAdded : true})
                        replyListeners("<%= spots[x]._id  %>")

                    } else if(result.newComment.type === "reply"){
                        loadReplies("<%= spots[x]._id  %>", [result.newComment], {newAdded : true})
                        replyListeners("<%= spots[x]._id  %>")

                    }
                    let commentsCount = parseInt(document.querySelectorAll(".spotCommentsCount-<%= spots[x]._id %>")[0].innerText)
                    let newCount = ++commentsCount
                    document.querySelectorAll(".spotCommentsCount-<%= spots[x]._id %>").forEach(item => item.innerText = newCount)

                } else if (result.status === "ERROR") {
                    addNewAlert(res.status, res.message)
                }
            })
            .catch(error => {
                addNewAlert("ERROR", "Error adding comment")
                console.log(error)
            })
        })
    </script>
    <% } %>

    <button class="map-inner-sidebar modal-button" data-toggle-modal="menuContent">Options</button>
    <div class="map-outer-div">
        <div class="base-modal" id="menuContent">
            <div class="base-modal-inner" id="addSpotDiv">
                <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert close-modal" data-toggle-modal="menuContent">
                <div id="spotInformation" class="base-modal-content">
                    <button class="add-spot-button" id="addNewSpotButton">Add new spot</button>
                    <p>Filters</p>
                    <div>
                        <div class="map-filters">
                            <div style="display: flex; flex-direction: column;">
                                <label for="typeFilter">Spot type</label>
                                <select name="typefilter" id="typeFilter" style="padding: 0.3em; margin-top: 0.5em; border: 1px solid gray; border-radius: 4px;" onchange="handleSpotFilters()">
                                    <option value="" selected disabled>select</option>
                                    <option value="all" style="color: black;">all (<span id="typeFilter-all">0</span>)</option>
                                    <option value="ledge" style="color: red;">ledge (<span id="typeFilter-ledge">0</span>)</option>
                                    <option value="rail" style="color: blue;">rail (<span id="typeFilter-rail">0</span>)</option>
                                    <option value="stairs" style="color: green;">stairs (<span id="typeFilter-stairs">0</span>)</option>
                                    <option value="park" style="color: purple;">park (<span id="typeFilter-park">0</span>)</option>
                                    <option value="other" style="color: gray;">other (<span id="typeFilter-other">0</span>)</option>
                                </select>
                            </div>
                            <div style="display: flex; flex-direction: column;">
                                <label for="sortByFilter">Sort By</label>
                                <select name="sortBy" id="sortByFilter" style="padding: 0.3em; margin-top: 0.5em; border: 1px solid gray; border-radius: 4px;" onchange="handleSpotFilters()">
                                    <option value="" selected disabled>select</option>
                                    <option value="popular">Popularity</option>
                                    <option value="recent">most recent</option>
                                </select>
                            </div>
                            
                        </div>
                        <div style="margin-bottom: 1em;">
                            <input type="checkbox" name="yourFavouritesCheck" id="yourFavouritesCheck" onchange="handleSpotFilters()">
                            <label for="yourFavouritesCheck">Your favourites</label>
                        </div>
                        <div>
                            <input type="checkbox" name="savedSpotsCheck" id="savedSpotsCheck" onchange="handleSpotFilters()">
                            <label for="savedSpotsCheck">Saved Spots</label>
                        </div>
                    </div>
                    <p style="margin-top: 2em;">Results</p>
                    <div class="spots-list">
                        <% if (spots.length === 0) {%>
                            <p style="margin: 0;">No Data to show</p>    
                        <%} %>
                        <% for(var x = 0; x < spots.length; x++) { %>
                        <div class="spot-list-item" data-index="<%= x %>" data-id="<%= spots[x]._id %>">
                            <div class="spot-list-item-image" style="background-image: url('/images/carouselimage1.jpg');" id="spotListImage<%= spots[x]._id %>"></div>
                            <div class="spot-list-item-details">
                                <p class="spot-description-short"><%= spots[x].description %></p>
                                <div style="width: 100%;">
                                    <div class="menu-interactions">
                                        <div style="display: flex; gap: 5px">
                                            <div style="display: flex; align-items: center; gap: 0.5em">
                                                <img src="/logos/heart-unfilledlight.png" class="like-button likeButton<%= spots[x]._id %>" data-likeref="" data-isliked="" onclick="likeAction(this, '<%= spots[x]._id %>')"></img>
                                                <p class="likes-count spotLikesCount-<%= spots[x]._id %>"><%= spots[x].likesCount %></p>
                                            </div>
                                            <div style="display: flex; align-items: center; gap: 0.5em">
                                                <img src="/logos/comments-light.png" style="height: 2em;"></img>
                                                <p class="spotCommentsCount-<%= spots[x]._id %>"><%= spots[x].commentsCount%></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                        <button class='base-button modal-button' data-toggle-modal="spotDetailsModal<%= spots[x]._id %>">Details</button>
                                        <div style="width: fit-content;">
                                            <p style="font-size: 0.8em; margin: 0;">Type: <%= spots[x].spottype %></p>
                                            <p style="font-size: 0.8em; margin: 0;">Uploaded by: <%= spots[x].createdBy %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="directions-detail-container" id="directionsDetails">
            <img src="/logos/closelight.png" style="height: 1em; cursor: pointer; float: right;" alt="" onclick="closeDirectionsDetails()">
            <p style="clear: both;"><span id="directionsDistance">0</span> meters</p>
            <p>Accuracy: <span id="directionsAccuracy">25</span> meters</p>
            <div class="directions-picker">
                <p style="background-color: blue;" class="directions-picker-item directions-picker-selected" data-profile="driving" data-profile-color="blue">drive</p>
                <p style="background-color: green;" class="directions-picker-item" data-profile="walking" data-profile-color="green">walk</p>
                <p style="background-color: purple;" class="directions-picker-item" data-profile="cycling" data-profile-color="purple">cycle</p>
            </div>
            <button class="base-button hidden" style="margin-top: 1em;" id="recalculateDirections">Recenter</button>
            <button class="base-button hidden" style="margin-top: 1em;" id="confirmRecalculateDirections">Confirm</button>
        </div>
        <div id="map" class="map-div"></div>
        <div class="map-sidebar" id="addSpotForm">
            <button class="cancel-spot-button" id="cancelNewSpotButton">Cancel</button>
            <p>Drag the red marker to spot location(Current Location might be inaccurate)</p>
            <form action="/addspot" method="post" class="addspot-form">
                <input type="hidden" value="0" name="longitude" id="longitude">
                <input type="hidden" value="0" name="latitude" id="latitude">
                <mapbox-search-box access-token="<%= mapboxtoken %>" proximity="0, 0" style="margin-bottom: 1em;"></mapbox-search-box>
                <label for="description" style="margin-bottom: 0.5em;">Description</label>
                <textarea name="description" id="description" style="margin-bottom: 1em; height: 4em; border-radius: 5px; padding: 5px; background-color: rgba(0, 0, 0, 0); color: white;" required></textarea>

                <label for="spottype">Spot Type</label>
                <select name="spottype" id="spottype" style="padding: 0.3em; margin-top: 0.5em; border: 1px solid gray; border-radius: 4px; margin-bottom: 1em;" required>
                    <option value="" selected disabled>select one</option>
                    <option value="rail">rail</option>
                    <option value="stairs">stairs</option>
                    <option value="park">park</option>
                    <option value="ledge">ledge</option>
                    <option value="other">other</option>
                </select>

                <label for="spotImages" style="margin-bottom: 0.5em;">Upload Images</label>
                <input type="file" name="images" id="spotImages" accept="image/png, image/jpeg" multiple required>
                <!-- <input type="file" name="images" id="spotImages" accept="image/png, image/jpeg" multiple> -->
                <p style="font-size: 0.8em; margin-top: 5px;">File size: <span id="fileSizeSpan">0</span> mb</p>
                <button type="button" class="base-button modal-button hidden" data-toggle-modal="editUploadImages" id="modifyUploadImages" style="width: fit-content;">Edit Images</button>

                <button class="spot-confirm" >Confirm</button>
            </form>
        </div>
        <div class="base-modal" id="editUploadImages">
            <div class="base-modal-inner">
                <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert close-modal" data-toggle-modal="editUploadImages">
                <div class="base-modal-content">
                    <div class="edit-pictures-div" id="editUploadImagesDiv"></div>
                    <button class="base-button hidden" style="color: red; border: 1px solid red; margin-top: 1em;" id="clearUploadSelections">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <div class="drag-image-position"></div>
</body>
<div id="spot-container" data-object="<%= JSON.stringify(spots) %>"></div>
<div id="likes-load-container" data-object="<%= JSON.stringify(likes) %>"></div>
<script>
    // const swiper = new Swiper('.swiper', {
    //     direction: 'horizontal',
    //     // slidesPerView: 2,
    //     loop: true,
    //     pagination: {
    //         el: '.swiper-pagination',
    //     },
    //     navigation: {
    //         nextEl: '.swiper-button-next',
    //         prevEl: '.swiper-button-prev',
    //     },
    //     scrollbar: {
    //         el: '.swiper-scrollbar',
    //     },
    // });
    // const swiperF = document.querySelector('.swiper').swiper;
    // let swiper = null

    let dataContainer = document.getElementById('spot-container');
    let likesListContainer = document.getElementById('likes-load-container')
    let spotsData = JSON.parse(dataContainer.getAttribute('data-object'));
    let likesList = JSON.parse(likesListContainer.getAttribute('data-object'))
    let loggedInUserID = "<%= userID %>"
    // let spotsData = JSON.parse('<%- JSON.stringify(spots)%>')
    // let isvisible = null
    let spotsListObserverContainer = document.getElementById("addSpotDiv")
    let spotListItems = document.querySelectorAll(".spot-list-item")
    const spotListCallback = (entries, observer) => {
        entries.forEach(item => {
            console.log(item.isIntersecting)
            console.log(item.target.getAttribute("data-index"))
            let spotId = item.target.getAttribute("data-id")
            if(item.isIntersecting){
                loadSpotImages(spotId, "all")
                observer.unobserve(item.target)
            }
        })
    }

    function shortText(text, length) {
        let newText = text.slice(0, length)
        newText = newText + "..."
        return newText
    }

    document.querySelectorAll(".spot-description-short").forEach(item => {
        let description = item.innerText
        if (description.length > 100) {
            item.innerText = shortText(description, 100)
        }
    })

    let spotsListObserver = new IntersectionObserver(spotListCallback, {
        root: spotsListObserverContainer,
        threshold: 1,
        // trackVisibility: true,
        // delay: 100
    })
    spotListItems.forEach(item => {
        spotsListObserver.observe(item)
    })
    // spotsListObserver.observe(spotListItems[0])

    // async function getUser() {
    //     let userRes = await fetch('/getUser')
    //     .then(res => {
    //         console.log(res)
    //         return res
    //     })
    // }

    let currentOpenModal = null

    function hideModal(id) {
        if (!id) {
            return
        }
        let modalOuter = document.getElementById(`${id}`)
        let modalInner = modalOuter.querySelectorAll(".base-modal-inner")[0]
        modalOuter.style.opacity = "0"
        modalOuter.style.pointerEvents = "none"
        modalInner.style.transform = "translateY(-20px)"
        currentOpenModal = null
    }

    async function showModal(id) {
        let modalOuter = document.getElementById(`${id}`)
        let modalInner = modalOuter.querySelectorAll(".base-modal-inner")[0]
        modalOuter.style.opacity = "1"
        modalOuter.style.pointerEvents = "auto"
        modalInner.style.transform = "translateY(0)"
        currentOpenModal = id
        console.log("open modal")
        // popup.remove()
        if (modalOuter.classList.contains("spot-details-modal")) {
            let spotId = modalOuter.getAttribute("data-spotid")
            let commentsLoaded = modalOuter.querySelectorAll(".comments-div")[0].getAttribute("data-loaded")
            if (commentsLoaded === "false") {
                await fetch(`/loadComments?spotId=${spotId}`, {
                    method: "GET"
                })
                .then(async res => {
                    let resData = await res.json()
                    if (resData.status === "SUCCESS") {
                        loadComments(spotId, resData.comments)
                        loadReplies(spotId, resData.replies)
                        replyListeners(spotId)
                        await loadCommentsInfo(spotId)
                        document.getElementById(`commentsDiv${spotId}`).setAttribute("data-loaded", "true")
                    } else if(resData.status === "ERROR") {
                        addNewAlert(resData.status, resData.message)
                    }
                })
                .catch(error => {
                    console.log(error)
                })
            }
        }
    }

    document.querySelectorAll(".modal-button").forEach(elm => {
        elm.addEventListener("click", function() {
            console.log("open")
            if(currentOpenModal !== null) {
                hideModal(currentOpenModal)
            }
            let id = this.getAttribute("data-toggle-modal")
            showModal(id)
        })
    })

    document.querySelectorAll(".close-modal").forEach(elm => {
        elm.addEventListener("click", function() {
            let id = this.getAttribute("data-toggle-modal")
            hideModal(id)
        })
    })

    document.addEventListener("click", function(e) {
        if (currentOpenModal) {
            let modal = document.getElementById(currentOpenModal).querySelectorAll(".base-modal-inner")[0]
            let alertDiv = document.getElementById("alertDiv")
            if (!modal.contains(e.target) && !e.target.classList.contains("modal-button") && !alertDiv.contains(e.target)) {
                hideModal(currentOpenModal)
            }
        }
    })

    mapboxgl.accessToken = "<%= mapboxtoken %>"
    let darkMap = "<%= darkMap %>"
    const map = new mapboxgl.Map({
        container: 'map',
        style: darkMap === "true" ? 'mapbox://styles/mapbox/dark-v11' : 'mapbox://styles/mapbox/streets-v12',
        center: [36.8219, -1.2921],
        zoom: 10
    })

    // let likeActionController = null
    let pauseLike = false
    async function likeAction(elm, spotID) {
        if (pauseLike) {
            return
        }
        // if (likeActionController) {
        //     likeActionController.abort()
        // }
        if ("<%= isLoggedIn %>" === "false") {
            addNewAlert("ERROR", "<a href='/login'>Login</a> required for interactions")
            return
        }
        pauseLike = true
        // likeActionController = new AbortController()
        // const likeActionSignal = likeActionController.signal
        // let likeButton = this.getElementById(`likeButton${spotID}`)
        let isLiked = elm.getAttribute("data-isliked")
        let likeRef = elm.getAttribute("data-likeref")
        let likesCounter = document.querySelectorAll(`.spotLikesCount-${spotID}`)
        if (isLiked === "true" && likeRef === "None") {
            console.log("cancel like")
            return
        }
        let src = isLiked === "true" ? '/logos/heart-unfilledlight.png' : '/logos/heart-filledlight.png'
        document.querySelectorAll(`.likeButton${spotID}`).forEach(item => {item.setAttribute("src", src)})
        let currentData = spotDetailsMap.get(`spot-${spotID}`)
        await fetch("/updateLiked", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                ID: spotID,
                isLiked: isLiked,
                likeRef: likeRef
            }),
            // signal: likeActionSignal
        })
        .then(async res => {
            let resData = await res.json()
            console.log(res)
            pauseLike = false
            if (resData.status === "SUCCESS") {
                document.querySelectorAll(`.likeButton${spotID}`).forEach(item => {
                    item.setAttribute("data-isliked", resData.isLiked)
                    item.setAttribute("data-likeref", resData.likeRef)
                })
                // let likesCount = parseInt(likesCounter[0].innerText)
                let likesCount = currentData.likesCount
                let newLikesCount = resData.isLiked ? `${++likesCount}` : `${--likesCount}`
                likesCounter.forEach(item => item.innerText = newLikesCount)
                spotDetailsMap.set(`spot-${spotID}`, {
                    ...currentData,
                    likeRef: resData.likeRef,
                    likesCount: newLikesCount,
                    isLiked: resData.isLiked,
                })
            }
        })
        .catch(error => {
            pauseLike = false
        })
    }

    let repliesController = null
    function replyListeners(id) {
        if (repliesController) {
            repliesController.abort()
        }
        repliesController = new AbortController()
        const repliesSignal = repliesController.signal
        document.querySelectorAll(".reply-button").forEach(elm => {
            elm.addEventListener("click", function(e) {
                if ("<%= isLoggedIn %>" === "false") {
                    addNewAlert("ERROR", "<a href='/login'>Login</a> required to comment")
                    return
                }
                let spotID = e.target.getAttribute("data-spotid")
                let author = e.target.getAttribute("data-author")
                let replyref = e.target.getAttribute("data-replyref")
                let commentForm = document.getElementById(`addCommentForm${id}`)
                let commentButton = document.getElementById(`addCommentButton${id}`)
                let input = document.getElementById(`commentInput${id}`)
                let replyID = document.getElementById(`replyId${id}`)
                replyID.value = replyref
                commentForm.style.display = "flex"
                commentButton.style.display = "none"
                let type = document.getElementById(`type${id}`)
                type.value = "reply"
                input.value = `@${author} `
            }, {signal: repliesSignal})
        })

        document.querySelectorAll(".delete-comment").forEach(elm => {
            elm.addEventListener("click", async function() {
                let idRef = elm.getAttribute("data-deleteref")
                let spotId = elm.getAttribute("data-spotid")
                await fetch("/deleteComment", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({
                        commentID: idRef,
                        spotId: spotId
                    })
                })
                .then(async res => {
                    let resData = await res.json()
                    if (resData.status === "SUCCESS") {
                        let deletedElm = document.getElementById(`commentId-${idRef}`)
                        deletedElm.remove()
                        let commentsCount = parseInt(document.querySelectorAll(`.spotCommentsCount-${spotId}`)[0].innerText)
                        let newCount = --commentsCount
                        document.querySelectorAll(`.spotCommentsCount-${spotId}`).forEach(item => item.innerText = newCount)
                        addNewAlert(resData.status, resData.message)
                    } else {
                        addNewAlert(resData.status, resData.message)
                    }
                })
            }, {signal: repliesSignal})
        })
    }

    //track usercount in comment section, prevents duplicate calls
    let usersInConversation = []

    function loadComments(spotId, comments, {reload = false, newAdded = false} = {}) {
        let commentsDiv = document.getElementById(`commentsDiv${spotId}`)
        if (reload) {
            commentsDiv.replaceChildren()
        }
        for (let x = 0; x < comments.length; x++) {
            if (!usersInConversation.includes(comments[x].author)) {
                usersInConversation.push(comments[x].author)
            }
            let commentNode = `<div class="comment-container" id="commentId-${comments[x]._id}">
                <div style="display: flex; flex-direction: column; gap: 1em; align-self: stretch; align-items: center;">
                    <div class="comment-profile-image change-comment-image-${comments[x].author}" style="background-image: url('/images/defaultProfile2.png');" id="commentprofileImage${comments[x]._id}"></div>
                    <div class="comment-line" style="display: none;"></div>
                </div>
                <div class="comment-content-div">
                    <div class="comment-info-div">
                        <p style="font-weight: bold; margin-top: 0;" class="change-comment-username-${comments[x].author}" id="commentUsername-${comments[x]._id}">User112</p>
                        <p style="color: gray; margin-top: 0;">${comments[x].dateAdded}</p>
                    </div>
                    <div class="comment-content">${comments[x].content}</div>
                    <div style="display: flex; align-items: center; gap: 1em;">
                        <p class="reply-button replyEvent${spotId} change-author-${comments[x].author}" id="replyButton${comments[x]._id}" data-author="User" data-replyref="${comments[x]._id}" data-spotid="${spotId}">reply</p>
                        <p class="delete-comment" style="display: ${comments[x].author === loggedInUserID ? "block" : "none"};" data-deleteref="${comments[x]._id}" data-spotid="${spotId}">delete</p>
                    </div>
                    <div class="comment-reply-container" id="repliesContainer${spotId}-${comments[x]._id}">
                    </div>
                </div>
            </div>`
            commentsDiv.insertAdjacentHTML("beforeend", commentNode)
            if (newAdded) {
                let commentImage = document.getElementById(`commentprofileImage${comments[x]._id}`)
                let commentUsername = document.getElementById(`commentUsername-${comments[x]._id}`)
                let replyButton = document.getElementById(`replyButton${comments[x]._id}`)

                commentImage.style.backgroundImage = `url("<%= profilePicture %>")`
                commentUsername.innerText = "<%= user %>"
                replyButton.setAttribute("data-author", "<%= user %>")
            }
        }
        document.getElementById(`loadingComments${spotId}`).style.display = "none"
    }

    function loadReplies(spotId, replies, {newAdded = false} = {}) {
        for (let x = 0; x < replies.length; x++) {
            if (!usersInConversation.includes(replies[x].author)) {
                usersInConversation.push(replies[x].author)
            }
            let repliesContainer = document.getElementById(`repliesContainer${spotId}-${replies[x].replyId}`)
            let reply = `<div class="comment-reply-div" id="commentId-${replies[x]._id}">
                <div class="comment-profile-image change-comment-image-${replies[x].author}" style="background-image: url('/images/defaultProfile2.png');" id="replyprofileImage${replies[x]._id}"></div>
                <div class="comment-content-div">
                    <div class="comment-info-div">
                        <p style="font-weight: bold; margin-top: 0;" class="change-comment-username-${replies[x].author}" id="commentUsername-${replies[x]._id}">User</p>
                        <p style="color: gray; margin-top: 0;">${replies[x].dateAdded}</p>
                    </div>
                    <div class="comment-content">${replies[x].content}</div>
                    <div style="display: flex; align-items: center; gap: 1em;">
                        <p class="reply-button replyEvent${spotId} change-author-${replies[x].author}" id="replyButton${replies[x]._id}" data-author="User" data-replyref="${replies[x].replyId}" data-spotid="${spotId}">reply</p>
                        <p class="delete-comment" style="display: ${replies[x].author === loggedInUserID ? "block" : "none"};" data-deleteref="${replies[x]._id}" data-spotid="${spotId}">delete</p>
                    </div>
                </div>
            </div>`
            if (repliesContainer) {
                repliesContainer.insertAdjacentHTML("beforeend", reply)
            } else {
                console.log("deleted comment")
            }
            if (newAdded) {
                let replyImage = document.getElementById(`replyprofileImage${replies[x]._id}`)
                let commentUsername = document.getElementById(`commentUsername-${replies[x]._id}`)
                let replyButton = document.getElementById(`replyButton${replies[x]._id}`)

                replyImage.style.backgroundImage = `url("<%= profilePicture %>")`
                commentUsername.innerText = "<%= user %>"
                replyButton.setAttribute("data-author", "<%= user %>")
            }
        }

        document.querySelectorAll(".comment-container").forEach(elm => {
            let repliesCount = elm.querySelectorAll(".comment-reply-container")[0].querySelectorAll(".comment-reply-div").length
            if (repliesCount > 0) {
                elm.querySelectorAll(".comment-line")[0].style.display = "block"
            }
        })
    }

    //function to load usernames and profile pictures
    async function loadCommentsInfo(spotId) {
        console.log("loading comments info")
        await fetch("/commentUserInfo", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                usersList: usersInConversation
            })
        })
        .then(async res => {
            let resData = await res.json()
            if (resData.status === "SUCCESS") {
                resData.data.forEach(item => {
                    document.getElementById(`commentsDiv${spotId}`).querySelectorAll(`.change-comment-image-${item.id}`).forEach(elm => {
                        elm.style.backgroundImage = `url("${item.profilePicture}")`
                    })
                    document.getElementById(`commentsDiv${spotId}`).querySelectorAll(`.change-comment-username-${item.id}`).forEach(elm => {
                        elm.innerText = item.username
                    })
                    document.getElementById(`commentsDiv${spotId}`).querySelectorAll(`.change-author-${item.id}`).forEach(elm => {
                        elm.setAttribute("data-author", item.username)
                    })
                })
                usersInConversation = []
            }
        })
    }

    async function loadSpotImages(spotId, action) {
        console.log("loading images")
        let currentData = spotDetailsMap.get(`spot-${spotId}`)
        let modalCarousel = document.getElementById(`spotDetailsModal${spotId}`).querySelectorAll(".swiper-wrapper")[0]
        if (modalCarousel.getAttribute("data-loaded") === "true") {
            console.log("images loaded already")
            return
        }
        if (currentData.isLoadingImages) {
            console.log("currently loading images")
            return
        }
        spotDetailsMap.set(`spot-${spotId}`, {
            ...currentData,
            isLoadingImages: true
        })
        await fetch("/getSpotImages", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                spotId: spotId,
                action: action
            })
        })
        .then(async res => {
            let resData = await res.json()
            if (resData.status === "SUCCESS") {
                let spotPopupImage = document.getElementById(`spotPopupImage${spotId}`)
                let spotListImage = document.getElementById(`spotListImage${spotId}`)
                spotDetailsMap.set(`spot-${spotId}`, {
                    ...currentData,
                    imageUrl: resData.images[0].imageUrl,
                    isLoadingImages: false
                })
                if (spotPopupImage) spotPopupImage.setAttribute("src", resData.images[0].imageUrl)
                spotListImage.style.backgroundImage = `url("${resData.images[0].imageUrl}")`
                let images = ""
                console.log(resData.images)
                resData.images.forEach(item => {
                    let swiperSlide = `<div class="swiper-slide">
                        <div class="carousel-image" style="background-image: url('${item.imageUrl}'); background-size: contain;"></div>
                    </div>`
                    images = images + swiperSlide
                })
                modalCarousel.replaceChildren()
                modalCarousel.insertAdjacentHTML("beforeend", images)
                modalCarousel.setAttribute("data-loaded", "true")
                const swiper = new Swiper(`.swiper${spotId}`, {
                    direction: 'horizontal',
                    // slidesPerView: 2,
                    loop: true,
                    pagination: {
                        el: '.swiper-pagination',
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    scrollbar: {
                        el: '.swiper-scrollbar',
                    },
                });
                // console.log(swiper.slideNext('2000ms'))
            }
        })
        .catch(error => {
            console.log(error)
        })
    }

    let tempLikesList = likesList
    let spotDetailsMap = new Map()
    let spotCategories = {
        ledge: [],
        rail: [],
        stairs: [],
        park: [],
        other: [],
    }
    spotsData.forEach((item, index) => {
        let temp = []
        let isLiked = false
        let likeRef = "None"
        let likesCount = 0
        console.log("likes list size", tempLikesList.length, likesList.length)
        tempLikesList.forEach(likeItem => {
            if (likeItem.spotId === item._id) {
                // likesCount++
                // if (likeItem.likeUser === loggedInUserID) {
                //     likeRef = likeItem._id
                // }
                likeRef = likeItem._id
                isLiked = true
            } else {
                temp.push(likeItem)
            }
        })
        tempLikesList = temp
        // document.querySelectorAll(`.spotLikesCount-${item._id}`).forEach(item => item.innerHTML = likesCount)
        document.querySelectorAll(`.likeButton${item._id}`).forEach(item => {
            let src = isLiked ? '/logos/heart-filledlight.png' : '/logos/heart-unfilledlight.png'
            item.setAttribute("src", src)
            item.setAttribute("data-isliked", isLiked)
            item.setAttribute("data-likeref", likeRef)
        })
        spotDetailsMap.set(`spot-${item._id}`, {
            isLiked: isLiked,
            imageUrl: "/images/loading.png",
            likesCount: item.likesCount,
            commentsCount: item.commentsCount,
            description: item.description,
            index: index,
            likeRef: likeRef,
            createdBy: item.createdBy,
            spotType: item.spottype,
            isLoadingImages: false
        })
        spotCategories[`${item.spottype}`].push({
            type: 'Feature',
            properties: {
                spotId: item._id,
                spotType: item.spottype
            },
            geometry: {
                type: 'Point',
                coordinates: [item.longitude, item.latitude]
            },
            spotID: item._id,
            spotType: item.spottype
        })
    })

    console.log('spot points', spotCategories)

    function setPopupHtml(spotId) {
        let currentData = spotDetailsMap.get(`spot-${spotId}`)
        let desc = `<div id="spotPopupDiv${spotId}" data-index="${currentData.index}">
            <img class="spot-details-image" src="${currentData.imageUrl}" id="spotPopupImage${spotId}">
            <div style="padding: 1em;" class="popup-details">
                <p style="font-weight: bold; font-size: 1em; margin-bottom: 0px; margin-top: 0em;">Type: ${currentData.spotType}</p>
                <p style="font-size: 1.3em; margin: 0;">Uploaded by: ${currentData.createdBy}</p>
                <div class="popup-interactions">
                    <div style="display: flex; gap: 5px">
                        <div style="display: flex; align-items: center; gap: 0.5em">
                            <img src="${currentData.isLiked === true ? '/logos/heart-filledlight.png' : '/logos/heart-unfilledlight.png'}" class="like-button likeButton${spotId}" data-likeref="${currentData.likeRef}" data-isliked="${currentData.isLiked === true ? 'true' : 'false'}" onclick="likeAction(this, '${spotId}')"></img>
                            <p class="likes-count spotLikesCount-${spotId}">${currentData.likesCount}</p>
                        </div>
                        <div style="display: flex; align-items: center; gap: 0.5em">
                            <img src="/logos/comments-light.png" style="height: 2em;"></img>
                            <p class="spotCommentsCount-${spotId}">${currentData.commentsCount}</p>
                        </div>
                    </div>
                    <button class='spot-details-button modal-button' data-toggle-modal="spotDetailsModal${spotId}" onclick="showModal('spotDetailsModal${spotId}')">Details</button>
                </div>
            </div>
        </div>`
        return desc
    }
    async function getOneSpot(paramName) {
        let searchParams = new URLSearchParams(window.location.search)
        if (searchParams.has(paramName)) {
            let spotId = searchParams.get(paramName)
            await fetch(`/getSpot?spotId=${spotId}`)
            .then(async res => {
                let resData = await res.json()
                if(resData.status === "SUCCESS") {
                    let description = setPopupHtml(spotId)
                    popup.setLngLat([resData.spot.longitude, resData.spot.latitude]).setHTML(description).addTo(map);
                    map.easeTo({
                        center: [resData.spot.longitude, (resData.spot.latitude - 0.023)],
                        zoom: 13,
                        duration: 500
                    })
                    let currentData = spotDetailsMap.get(`spot-${spotId}`)
                    let modalCarousel = document.getElementById(`spotDetailsModal${spotId}`).querySelectorAll(".swiper-wrapper")[0]
                    if (modalCarousel.getAttribute("data-loaded") === "true") {
                        console.log("images loaded already")
                        return
                    }
                    let spotPopupImage = document.getElementById(`spotPopupImage${spotId}`)
                    let spotListImage = document.getElementById(`spotListImage${spotId}`)
                    spotDetailsMap.set(`spot-${spotId}`, {
                        ...currentData,
                        imageUrl: resData.images[0].imageUrl,
                        isLoadingImages: false
                    })
                    if (spotPopupImage) spotPopupImage.setAttribute("src", resData.images[0].imageUrl)
                    spotListImage.style.backgroundImage = `url("${resData.images[0].imageUrl}")`
                    let images = ""
                    console.log("images ref", resData.images)
                    resData.images.forEach(item => {
                        let swiperSlide = `<div class="swiper-slide">
                            <div class="carousel-image" style="background-image: url('${item.imageUrl}'); background-size: contain;"></div>
                        </div>`
                        images = images + swiperSlide
                    })
                    modalCarousel.replaceChildren()
                    modalCarousel.insertAdjacentHTML("beforeend", images)
                    modalCarousel.setAttribute("data-loaded", "true")
                    const swiper = new Swiper(`.swiper${spotId}`, {
                        direction: 'horizontal',
                        // slidesPerView: 2,
                        loop: true,
                        pagination: {
                            el: '.swiper-pagination',
                        },
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },
                        scrollbar: {
                            el: '.swiper-scrollbar',
                        },
                    });
                } else {
                    addNewAlert(resData.status, resData.message)
                }
            })
            .catch(error => {
                console.log(error)
            })
        }
    }

    let categoryEntries = Object.entries(spotCategories)
    console.log(categoryEntries)

    const popup = new mapboxgl.Popup({maxWidth: screen.width > 500 ? "390px" : "70%"})
    let directionsInterval = null
    let userPositionInterval = null
    const geoLoc = new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: true,
        showUserHeading: true,
    })

    function userPositionAsync(options) {
        return new Promise((resolve, reject) => {
            navigator.geolocation.getCurrentPosition(resolve, reject, options)
        })
    }

    function openDirectionsDetails(locationTrack) {
        document.getElementById("directionsDetails").style.display = "block"
        // map.setLayoutProperty("routeLayer", "visibility", "none")
    }

    function closeDirectionsDetails() {
        // geoLoc.trigger()
        map.removeControl(geoLoc)
        map.addControl(geoLoc)
        // geoLoc.options.trackUserLocation = false
        document.getElementById("directionsDetails").style.display = "none"
        map.removeLayer("routeLayer")
        map.removeSource("routeSource")
        manualDirectionsSetMarker.remove()
        directionsMarker.remove()
    }
    const el = document.createElement('div')
    el.className = 'marker';
    let directionsMarker = new mapboxgl.Marker(el, {color: "red"})

    let manualDirectionsCoordinates = [36.8219, -1.2921]
    let manualDirectionsSetMarker = new mapboxgl.Marker({color: "red", draggable: true})
    let spotDirectionCoordinates = null
    manualDirectionsSetMarker.on('dragend', function(e) {
        let lngLat = e.target.getLngLat()
        manualDirectionsCoordinates = [lngLat.lng, lngLat.lat]
        console.log(manualDirectionsCoordinates)
        map.easeTo({
            center: manualDirectionsCoordinates,
            zoom: 14,
            duration: 500
        })
    })
    document.getElementById("recalculateDirections").addEventListener("click", function() {
        // document.getElementById("recalculateDirections").classList.add("hidden")
        this.classList.add("hidden")
        manualDirectionsSetMarker.setLngLat(manualDirectionsCoordinates).addTo(map)
        directionsMarker.remove()
        map.easeTo({
            center: manualDirectionsCoordinates,
            zoom: 14,
            duration: 500
        })
        document.getElementById("confirmRecalculateDirections").classList.remove("hidden")
    })

    document.getElementById("confirmRecalculateDirections").addEventListener("click", async function() {
        this.classList.add("hidden")
        document.getElementById("recalculateDirections").classList.remove("hidden")
        await getDirections(manualDirectionsCoordinates[0], manualDirectionsCoordinates[1], spotDirectionCoordinates[0], spotDirectionCoordinates[1])
        directionsMarker.setLngLat(manualDirectionsCoordinates).addTo(map)
        manualDirectionsSetMarker.remove()
    })
    let directionsController = null
    let routeType = "driving"
    let routeColor = "blue"
    document.querySelectorAll(".directions-picker-item").forEach(elm => {
        elm.addEventListener("click", function() {
            document.querySelectorAll(".directions-picker-selected")[0].classList.remove("directions-picker-selected")
            this.classList.add("directions-picker-selected")
            routeType = this.getAttribute("data-profile")
            routeColor = this.getAttribute("data-profile-color")
        })
    })
    async function getDirections(startLng, startLat, endLng, endLat) {
        if (directionsController) {
            directionsController.abort()
        }
        directionsController = new AbortController()
        const signal = directionsController.signal
        console.log(startLng, startLat, endLng, endLat)
        let accessToken = "<%= mapboxtoken %>"
        // console.log(position.coords.latitude)
        let directionsUrl = `https://api.mapbox.com/directions/v5/mapbox/${routeType}/${startLng},${startLat};${endLng},${endLat}?geometries=geojson&access_token=${accessToken}`
        await fetch(directionsUrl, {signal: signal})
        .then(async res => {
            let json = await res.json()
            console.log(json)
            popup.remove()
            if (map.getSource("routeSource")) {
                map.getSource("routeSource").setData(json.routes[0].geometry)
                console.log(json.routes[0].distance)
                hideModal(currentOpenModal)
            } else {
                map.addSource('routeSource', {
                    type: 'geojson',
                    data: {
                        type: "Feature",
                        properties: {},
                        geometry: json.routes[0].geometry
                    }
                })
                map.addLayer({
                    id: 'routeLayer',
                    type: 'line',
                    source: 'routeSource',
                    layout: {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    paint: {
                        'line-color': routeColor,
                        'line-width': 4,
                        'line-opacity': 1
                    }
                })
                let visible = map.getLayoutProperty("routeLayer", "visibility")
                if (!visible) {
                    map.setLayoutProperty("routeLayer", "visibility", "visible")
                }
                hideModal(currentOpenModal)
            }
            document.getElementById("directionsDistance").innerText = parseInt(json.routes[0].distance)
            map.easeTo({
                center: [startLng, startLat],
                zoom: 13,
                duration: 500
            })
        })
        .catch(error => {
            console.log(error)
        })
    }
    map.on('load', () => {
        map.addControl(geoLoc);
        for (let x = 0; x < categoryEntries.length; x++) {
            let pointColor = ""
            if (categoryEntries[x][0] === "stairs") {
                pointColor = "green"
                document.getElementById(`typeFilter-stairs`).innerText = categoryEntries[x][1].length
            } else if (categoryEntries[x][0] === "rail") {
                pointColor = "blue"
                document.getElementById(`typeFilter-rail`).innerText = categoryEntries[x][1].length
            } else if (categoryEntries[x][0] === "park") {
                pointColor = "purple"
                document.getElementById(`typeFilter-park`).innerText = categoryEntries[x][1].length
            } else if (categoryEntries[x][0] === "ledge") {
                pointColor = "red"
                document.getElementById(`typeFilter-ledge`).innerText = categoryEntries[x][1].length
            } else {
                pointColor = "gray"
                document.getElementById(`typeFilter-other`).innerText = categoryEntries[x][1].length
            }
            map.addSource(`spotsSource${categoryEntries[x][0]}`, {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': categoryEntries[x][1]
                },
                // cluster: true,
                // clusterMaxZoom: 11,
                // clusterRadius: 20
                // 'dynamic': true
            })

            map.addLayer({
                'id': `spotsLayer${categoryEntries[x][0]}`,
                'type': 'circle',
                'source': `spotsSource${categoryEntries[x][0]}`,
                'paint': {
                    'circle-color': pointColor,
                    'circle-radius': 8,
                    'circle-stroke-width': 3,
                    'circle-stroke-color': '#ffffff'
                }
            })

            map.on("click", `spotsLayer${categoryEntries[x][0]}`, (e) => {
                map.getCanvas().style.cursor = "pointer"
                // console.log(e.features[0].properties)
                const coordinates = e.features[0].geometry.coordinates.slice()
                const spotId = e.features[0].properties.spotId
                const spotType = e.features[0].properties.spotType
                // const description = popupHtmlList[`spot-${spotId}`]
                let currentData = spotDetailsMap.get(`spot-${spotId}`)
                let description = setPopupHtml(spotId)
                popup.setLngLat(coordinates).setHTML(description).addTo(map);
                let spotCarousel = document.getElementById(`spotDetailsModal${spotId}`).querySelectorAll(".swiper-wrapper")[0]
                if (spotCarousel.getAttribute("data-loaded") === "false") {
                    loadSpotImages(spotId, "all")
                }
                map.easeTo({
                    center: [coordinates[0], (coordinates[1] - 0.023)],
                    zoom: 13,
                    duration: 500
                })
            })
            map.on("mouseover", `spotsLayer${categoryEntries[x][0]}`, e => {
                map.getCanvas().style.cursor = "pointer"
            })
            map.on('mouseleave', `spotsLayer${categoryEntries[x][0]}`, () => {
                map.getCanvas().style.cursor = '';
            });
        }
        document.getElementById(`typeFilter-all`).innerText = spotsData.length
        getOneSpot('spot')
        for (let x = 0; x < spotsData.length; x++) {
            document.getElementById(`getDirections${spotsData[x]._id}`).addEventListener("click", async function() {
                if (map.getSource("routeSource")) {
                    console.log("reset directions")
                    map.removeLayer("routeLayer")
                    map.removeSource("routeSource")
                }
                let endLng = this.getAttribute("data-lng")
                let endLat = this.getAttribute("data-lat")
                spotDirectionCoordinates = [endLng, endLat]
                let id = this.getAttribute("data-id")
                // let startLng = manualDirectionsCoordinates[0]
                // let startLat = manualDirectionsCoordinates[1]
                document.getElementById("spinnerContainer").style.display = "block"
                await userPositionAsync({enableHighAccuracy: true})
                .then(async position => {
                    await getDirections(position.coords.longitude, position.coords.latitude, endLng, endLat)
                    document.getElementById("spinnerContainer").style.display = "none"
                    geoLoc.trigger()
                    document.getElementById("directionsAccuracy").innerText = parseInt(position.coords.accuracy)
                })
                .catch(error => {
                    document.getElementById("spinnerContainer").style.display = "none"
                    console.log("geoloc error", error)
                    let confirmRecalculateDirections = document.getElementById("confirmRecalculateDirections")
                    confirmRecalculateDirections.classList.remove("hidden")
                    manualDirectionsSetMarker.setLngLat(manualDirectionsCoordinates).addTo(map)
                    map.easeTo({
                        center: manualDirectionsCoordinates,
                        zoom: 14,
                        duration: 500
                    })
                    hideModal(currentOpenModal)
                    popup.remove()
                    addNewAlert("ERROR", `Error getting user location, move red marker to start position or try <a href="https://www.google.com/maps/search/?api=1&query=${endLat},${endLng}">view on maps</a>`)
                    // document.getElementById("recalculateDirections").classList.remove("hidden")
                })
                openDirectionsDetails()
            })
        }
    })

    function handleSpotFilters() {
        let typeFilter = document.getElementById("typeFilter")
        let sortByFilter = document.getElementById("sortByFilter")
        let yourFavouritesCheck = document.getElementById("yourFavouritesCheck")
        let savedSpotsCheck = document.getElementById("savedSpotsCheck")

        for (x of categoryEntries) {
            if (x[0] === typeFilter.value || typeFilter.value === "all") {
                map.setLayoutProperty(`spotsLayer${x[0]}`, "visibility", "visible")
            } else {
                map.setLayoutProperty(`spotsLayer${x[0]}`, "visibility", "none")
            }
        }
        hideModal(currentOpenModal)
    }

    const searchResult = document.getElementById("search-js")
    searchResult.onload = function () {
        const searchBox = document.querySelector('mapbox-search-box')
        searchBox.options = {
            language: 'en',
            // country: 'KE',
            proximity: "36.8219, -1.2921"
            // types: "district, place, city, street, address, poi"
        }

        searchBox.addEventListener('retrieve', e => {
            let searchResultCoordinates = e.detail.features[0].geometry.coordinates
            console.log(searchResultCoordinates)
            map.easeTo({
                center: searchResultCoordinates,
                zoom: 13
            })

            addSpotMarker.setLngLat(searchResultCoordinates).addTo(map)
            markerCoordinates = searchResultCoordinates
        })
    }

    const addSpotMarker = new mapboxgl.Marker({color: "red", draggable: true})
    // addSpotMarker.setRotation(45)
    let markerCoordinates = []
    let longitude = document.getElementById("longitude")
    let latitude = document.getElementById("latitude")
    addSpotMarker.on('dragend', function(e) {
        let lngLat = e.target.getLngLat()
        markerCoordinates = [lngLat.lng, lngLat.lat]
        longitude.value = lngLat.lng
        latitude.value = lngLat.lat
        console.log(markerCoordinates)
        map.easeTo({
            center: markerCoordinates,
            zoom: 13,
            duration: 500
        })
    })

    const addNewSpotButton = document.getElementById("addNewSpotButton")
    const cancelNewSpotButton = document.getElementById("cancelNewSpotButton")
    const addSpotForm = document.getElementById("addSpotForm")
    const spotInformation = document.getElementById("spotInformation")

    addNewSpotButton.addEventListener('click', function() {
        // hideMenu()
        hideModal(currentOpenModal)
        popup.remove()
        addSpotForm.style.display = "block"
        // spotInformation.style.display = "none"
        // addNewSpotButton.style.display = "none"

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                console.log(position.coords.latitude, position.coords.longitude, position)
                markerCoordinates = [position.coords.longitude, position.coords.latitude]
                longitude.value = position.coords.longitude
                latitude.value = position.coords.latitude
                map.easeTo({
                    center: [position.coords.longitude, position.coords.latitude],
                    zoom: 13,
                    duration: 500
                })
                addSpotMarker.setLngLat([position.coords.longitude, position.coords.latitude]).addTo(map)
            }, function() {
                addNewAlert("ERROR", "Could not get current user position, drag red marker to spot location.")
                map.easeTo({
                    center: [36.8219, -1.2921],
                    zoom: 13,
                    duration: 500
                })
                addSpotMarker.setLngLat([36.8219, -1.2921]).addTo(map)
            })
        } else {
            addNewAlert("ERROR", "Could not get current user position, drag red marker to spot location.")
            map.easeTo({
                center: [36.8219, -1.2921],
                zoom: 13,
                duration: 500
            })
            addSpotMarker.setLngLat([36.8219, -1.2921]).addTo(map)
        }
    })

    cancelNewSpotButton.addEventListener('click', function() {
        addSpotForm.style.display = "none"
        addSpotMarker.remove()

        map.easeTo({
            center: [36.8219, -1.2921],
            zoom: 10
        })
    })

    function filesToBase64(img) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader
            reader.onload = () => resolve(reader.result)
            reader.onerror = reject
            reader.readAsDataURL(img)
        })
    }

    let editUploadImagesDiv = document.getElementById("editUploadImagesDiv")
    let clearUploadSelections = document.getElementById("clearUploadSelections")
    let spotImageList = new Map()
    let sizeInMB = 0
    let selectedCount = 0
    document.getElementById("spotImages").addEventListener("change", async function() {
        let images = document.getElementById("spotImages")
        let totalSize = 0
        let imageNodesList = ''
        if (images.files.length > 10) {
            addNewAlert("ERROR", "Up to 10 pictures can be uploaded")
            this.value = null
            return
        }
        document.getElementById("modifyUploadImages").classList.remove("hidden")
        for (let x = 0; x < images.files.length; x++) {
            // console.log(images.files[x])
            const compressedImage = await imageConversion.compressAccurately(images.files[x], 400)
            await filesToBase64(compressedImage)
            .then(res => {
                totalSize = totalSize + compressedImage.size
                let imageNode = `<div class="edit-pictures-item" style="background-image: url('${res}');" data-picture-index="${x}">
                    <div class="edit-pictures-check hide-check">
                        <p style="margin: 0;">X</p>
                    </div>
                    <div class="edit-check-circle"></div>
                </div>`
                imageNodesList = imageNodesList + imageNode
                spotImageList.set(`image-${x}`, res)
            })
        }
        sizeInMB = totalSize / 1048576
        if (sizeInMB > 10) {
            document.getElementById("fileSizeSpan").style.color = "red"
        } else {
            document.getElementById("fileSizeSpan").style.color = "green"
            editUploadImagesDiv.replaceChildren()
            editUploadImagesDiv.insertAdjacentHTML("beforeend", imageNodesList)
            document.querySelectorAll(".edit-pictures-item").forEach(elm => {
                let isDragging = false
                elm.addEventListener("click", function() {
                    if (isDragging) {
                        return
                    }
                    let index = parseInt(elm.getAttribute("data-picture-index"))
                    let check = elm.querySelectorAll(".edit-pictures-check")[0]
                    check.classList.toggle("hide-check")
                    console.log("toggled index", index)
                    let image = spotImageList.get(`image-${index}`)
                    selectedCount = 0
                    editUploadImagesDiv.querySelectorAll(".edit-pictures-item").forEach(item => {
                        if (!item.querySelectorAll(".edit-pictures-check")[0].classList.contains("hide-check")) {
                            ++selectedCount
                        }
                    })
                    console.log(selectedCount)
                    if (selectedCount === 0) {
                        clearUploadSelections.classList.add("hidden")
                    } else {
                        clearUploadSelections.classList.remove("hidden")
                    }
                })

                elm.addEventListener("pointerdown", function(e) {
                    e.preventDefault()
                    if (navigator.maxTouchPoints > 0) {
                        return
                    }
                        elm.style.touchAction = "none"
                    let initX = e.clientX
                    let initY = e.clientY
                    isDragging = false
                    let initIndex = parseInt(elm.getAttribute("data-picture-index"))
                    let draggingElm = e.target
                    let image = spotImageList.get(`image-${initIndex}`)
                    let dragImagePlaceholder = document.querySelector(".drag-image-position")
                    dragImagePlaceholder.style.display = "block"
                    dragImagePlaceholder.style.backgroundImage = `${elm.style.backgroundImage}`

                    function dragEvent(drag) {
                        dragImagePlaceholder.style.top = `${drag.clientY - 50}px`
                        dragImagePlaceholder.style.left = `${drag.clientX - 50}px`
                    }

                    function hoverStart(hover) {
                        if (hover.target.classList.contains("edit-pictures-item")) {
                            hover.target.classList.add("edit-pictures-item-draghover")
                        }
                    }

                    function hoverEnd(hover) {
                        if (hover.target.classList.contains("edit-pictures-item")) {
                            hover.target.classList.remove("edit-pictures-item-draghover")
                        }
                    }

                    function stopDrag(stop) {
                        if (Math.abs(stop.clientX - initX) > 10 || Math.abs(stop.clientY - initY) > 10) {
                            isDragging = true
                            if (stop.target.classList.contains("edit-pictures-item")) {
                                stop.target.classList.remove("edit-pictures-item-draghover")
                                if (stop.target !== draggingElm) {
                                    console.log("swap images")
                                    let dropIndex = parseInt(stop.target.getAttribute("data-picture-index"))
                                    let dropImage = spotImageList.get(`image-${dropIndex}`)
                                    let tempBg = draggingElm.style.backgroundImage
                                    draggingElm.style.backgroundImage = stop.target.style.backgroundImage
                                    stop.target.style.backgroundImage = tempBg
                                    spotImageList.set(`image-${initIndex}`, dropImage)
                                    spotImageList.set(`image-${dropIndex}`, image)
                                }
                            }
                        }
                        dragImagePlaceholder.style.display = "none"
                        dragImagePlaceholder.style.top = "-100%"
                        dragImagePlaceholder.style.left = "-100%"
                        document.removeEventListener("pointermove", dragEvent)
                        document.removeEventListener("pointerover", hoverStart)
                        document.removeEventListener("pointerout", hoverEnd)
                        document.removeEventListener("pointerup", stopDrag)
                    }
                    document.addEventListener("pointermove", dragEvent)
                    document.addEventListener("pointerover", hoverStart)
                    document.addEventListener("pointerout", hoverEnd)
                    document.addEventListener("pointerup", stopDrag)
                })

                elm.addEventListener("touchstart", function(e) {
                    // e.preventDefault()
                    elm.style.touchAction = "none"
                    let initX = e.touches[0].clientX
                    let initY = e.touches[0].clientY
                    isDragging = false
                    let initIndex = parseInt(elm.getAttribute("data-picture-index"))
                    let draggingElm = e.target
                    let image = spotImageList.get(`image-${initIndex}`)
                    let dragImagePlaceholder = document.querySelector(".drag-image-position")
                    dragImagePlaceholder.style.display = "block"
                    dragImagePlaceholder.style.backgroundImage = `${elm.style.backgroundImage}`

                    function dragEvent(drag) {
                        dragImagePlaceholder.style.top = `${drag.touches[0].clientY - 50}px`
                        dragImagePlaceholder.style.left = `${drag.touches[0].clientX - 50}px`
                    }

                    function stopDrag(stop) {
                        let endTarget = document.elementFromPoint(stop.changedTouches[0].clientX, stop.changedTouches[0].clientY)
                        if (Math.abs(stop.changedTouches[0].clientX - initX) > 10 || Math.abs(stop.changedTouches[0].clientY - initY) > 10) {
                            isDragging = true
                            if (endTarget.classList.contains("edit-pictures-item")) {
                                endTarget.classList.remove("edit-pictures-item-draghover")
                                if (e.target !== endTarget) {
                                    console.log("swap images")
                                    let dropIndex = parseInt(endTarget.getAttribute("data-picture-index"))
                                    let dropImage = spotImageList.get(`image-${dropIndex}`)
                                    let tempBg = e.target.style.backgroundImage
                                    e.target.style.backgroundImage = endTarget.style.backgroundImage
                                    endTarget.style.backgroundImage = tempBg
                                    spotImageList.set(`image-${initIndex}`, dropImage)
                                    spotImageList.set(`image-${dropIndex}`, image)
                                }
                            }
                        }
                        dragImagePlaceholder.style.display = "none"
                        dragImagePlaceholder.style.top = "-100%"
                        dragImagePlaceholder.style.left = "-100%"
                        document.removeEventListener("touchmove", dragEvent)
                        document.removeEventListener("touchend", stopDrag)
                    }
                    document.addEventListener("touchmove", dragEvent)
                    document.addEventListener("touchend", stopDrag)
                })
            })
            showModal("editUploadImages")
        }
        document.getElementById("fileSizeSpan").innerText = sizeInMB.toFixed(2)
    })

    function clearSelections() {
        editUploadImagesDiv.querySelectorAll(".edit-pictures-item").forEach(elm => {
            let check = elm.querySelectorAll(".edit-pictures-check")[0]
            // check.classList.add("hide-check")
            if (!check.classList.contains("hide-check")) {
                let index = elm.getAttribute("data-picture-index")
                spotImageList.delete(`image-${index}`)
                elm.remove()
            }
        })
        console.log(spotImageList)

        if (spotImageList.size === 0) {
            hideModal(currentOpenModal)
            document.getElementById("spotImages").value = null
            return
        }
    }

    clearUploadSelections.addEventListener("click", clearSelections)

    document.getElementById("addSpotForm").addEventListener("submit", async function(e) {
        e.preventDefault()
        let sendData = []
        let positionIndex = 0
        spotImageList.forEach(item => {
            sendData.push({
                position: positionIndex,
                imageUrl: item
            })
            ++positionIndex
        })
        if (sizeInMB > 10) {
            addNewAlert("ERROR", "Files are too large")
            return
        }
        if (sendData.length === 0) {
            addNewAlert("ERROR", "No files selected")
            return
        }
        document.getElementById("spinnerContainer").style.display = "block"
        await fetch("/addspot", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                description: document.getElementById("description").value,
                spottype: document.getElementById("spottype").value,
                lng: markerCoordinates[0],
                lat: markerCoordinates[1],
                spotimages: sendData,
            })
        })
        .then(async res => {
            let resData = await res.json()
            if (resData.status === "SUCCESS") {
                window.location.replace(`/map?spot=${resData.newSpot}`)
            } else if (resData.status === "ERROR") {
                document.getElementById("spinnerContainer").style.display = "none"
            }
        })
        .catch(error => {
            console.log(error)
            document.getElementById("spinnerContainer").style.display = "none"
        })
    })
</script>
</html>