<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/WangYuLue/image-conversion/build/conversion.js"></script>

    <title>Skatespot App</title>
    <link rel="stylesheet" href="/index.css">
    <style>
        .swiper {
            width: 100%;
            height: 50vh;
        }
    </style>
</head>
<body>
    <%- include('templates/nav.ejs') %>
    <%- include('templates/alert.ejs') %>
    <%- include('templates/theme.ejs') %>
    <div class="profile-div">
        <div class="profile-side">
            <div class="profile-info-div" style="display: flex; flex-direction: column; align-items: start;">
                <div class="profile-image-container">
                    <div class="profile-settings-picture" style="background-image: url('<%= userProfile.profileImage %>');" id="profilePicture">
                        <!-- <img src="/images/defaultProfile.jpg" alt="" style="width: 100%; aspect-ratio: 1 / 1;"> -->
                    </div>
                    <div class="edit-profile-image" id="editProfileImage">
                        <p style="margin: 0; font-size: 1em; font-weight: bold;">+</p>
                    </div>
                    <input type="file" accept="image" name="profilePicture" id="profilePictureInput" style="display: none;">
                </div>
                <p class="profile-title">Details</p>
                <div class="underline"></div>

                <div style="width: 100%;">
                    <div style="position: relative;">
                        <p class="profile-detail-title">Username</p>
                        <p class="profile-detail-info" id="usernameValue"><%= userProfile.username %></p>
                        <img src="/logos/pen.png" alt="" class="edit-profile-detail-pen image-invert" id="usernameEdit">
                    </div>
                    <div class="edit-profile-detail hidden" id="usernameEditDiv">
                        <div class="edit-profile-detail-input-div">
                            <input type="text" class="edit-profile-detail-input" value="<%= userProfile.username %>" id="usernameInput" data-param="username">
                            <div class="rounded-close" id="usernameCloseInput">
                                <img src="/logos/closeLight.png" alt="" class="image-invert" style="height: 10px;">
                            </div>
                        </div>
                        <button class="purple-button" style="padding: 0.5em; height: fit-content;" id="usernameConfirm">Confirm</button>
                    </div>
                </div>

                <div style="width: 100%;">
                    <div style="position: relative;">
                        <p class="profile-detail-title">Email</p>
                        <p class="profile-detail-info" id="emailValue"><%= userProfile.email %></p>
                        <img src="/logos/pen.png" alt="" class="edit-profile-detail-pen image-invert" id="emailEdit">
                    </div>
                    <div class="edit-profile-detail hidden" id="emailEditDiv">
                        <div class="edit-profile-detail-input-div">
                            <input type="text" class="edit-profile-detail-input" value="<%= userProfile.email %>" id="emailInput" data-param="email">
                            <div class="rounded-close" id="emailCloseInput">
                                <img src="/logos/closeLight.png" alt="" class="image-invert" style="height: 10px;">
                            </div>
                        </div>
                        <button class="purple-button" style="padding: 0.5em; height: fit-content;" id="emailConfirm">Confirm</button>
                    </div>
                </div>
                <script>
                    //change email
                    document.getElementById("emailEdit").addEventListener("click", function() {
                        document.getElementById("emailValue").classList.toggle("hidden")
                        document.getElementById("emailEditDiv").classList.toggle("hidden")
                        this.classList.toggle("hidden")
                    })

                    document.getElementById("emailCloseInput").addEventListener("click", function() {
                        document.getElementById("emailValue").classList.toggle("hidden")
                        document.getElementById("emailEditDiv").classList.toggle("hidden")
                        document.getElementById("emailEdit").classList.toggle("hidden")
                    })

                    document.getElementById("emailConfirm").addEventListener("click", async function() {
                        await fetch("/updateProfileInfo", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                paramName: "email",
                                inputValue: document.getElementById("emailInput").value
                            })
                        })
                        .then(async res => {
                            let resData = await res.json()
                            console.log(resData)
                            if (res.status === "SUCCESS") {
                                document.getElementById("emailValue").classList.toggle("hidden")
                                document.getElementById("emailEditDiv").classList.toggle("hidden")
                                document.getElementById("emailEdit").classList.toggle("hidden")
                            }
                        })
                    })

                    //change username
                    document.getElementById("usernameEdit").addEventListener("click", function() {
                        document.getElementById("usernameValue").classList.toggle("hidden")
                        document.getElementById("usernameEditDiv").classList.toggle("hidden")
                        this.classList.toggle("hidden")
                    })

                    document.getElementById("usernameCloseInput").addEventListener("click", function() {
                        document.getElementById("usernameValue").classList.toggle("hidden")
                        document.getElementById("usernameEditDiv").classList.toggle("hidden")
                        document.getElementById("usernameEdit").classList.toggle("hidden")
                    })

                    document.getElementById("usernameConfirm").addEventListener("click", async function() {
                        await fetch("/updateProfileInfo", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                paramName: "username",
                                inputValue: document.getElementById("usernameInput").value
                            })
                        })
                        .then(async res => {
                            let resData = await res.json()
                            console.log(resData)
                            if (res.status === "SUCCESS") {
                                document.getElementById("usernameValue").classList.toggle("hidden")
                                document.getElementById("usernameEditDiv").classList.toggle("hidden")
                                document.getElementById("usernameEdit").classList.toggle("hidden")
                            }
                        })
                    })
                </script>

                <% if (userProfile.verified) { %>
                    <div style="display: flex; align-items: center; gap: 5px; margin-top: 1em;">
                        <p>Verified</p>
                        <div class="verified-tick-div">
                            <img src="/logos/checkLight.png" alt="tick" style="height: 9px;">
                        </div>
                    </div>
                <% } else { %>
                    <a href="/verify" class="purple-button" style="margin-top: 1em; padding: 0.5em;">verify Email</a>
                <% } %>
            </div>
        </div>
        <div class="profile-divider"></div>
        <div class="profile-main">
            <div class="profile-info-div">
                <p class="profile-title">Settings</p>
                <div class="underline"></div>

                <div class="profile-pill-outer">
                    <div class="profile-pill-title" style="position: relative;">
                        Two factor Authentication
                        <div class="tooltip-div" style="top: 50%; transform: translateY(-50%); right: -30px;">
                            <p class="tooltip-icon">?</p>
                            <p class="tooltip-text hide-tooltip">Your account email will be used for authentication</p>
                        </div>
                    </div>
                    <div class="profile-pill-div" id="twoFactorAuthPill" data-param="twoFactorAuth">
                        <div class="profile-pill-circle" id="twoFactorAuthPillCircle"></div>
                    </div>
                    <input type="hidden" class="profile-pill-input" value="<%= userProfile.settings.twoFactorAuth %>" id="twoFactorAuthPillValue">
                </div>
                <div class="profile-pill-outer">
                    <div class="profile-pill-title">Dark mode</div>
                    <div class="profile-pill-div" id="darkModePill" data-param="darkMode">
                        <div class="profile-pill-circle" id="darkModePillCircle"></div>
                    </div>
                    <input type="hidden" class="profile-pill-input" value="<%= userProfile.settings.darkMode %>" id="darkModePillValue">
                </div>
                <div class="profile-pill-outer">
                    <div class="profile-pill-title">Dark map</div>
                    <div class="profile-pill-div" id="darkMapPill" data-param="darkMap">
                        <div class="profile-pill-circle" id="darkMapPillCircle"></div>
                    </div>
                    <input type="hidden" class="profile-pill-input" value="<%= userProfile.settings.darkMap %>" id="darkMapPillValue">
                </div>
            </div>
            <div class="profile-info-div" id="spotsContentDiv">
                <p class="profile-title">Spots Content</p>
                <div class="underline"></div>
                <button class="base-button modal-button" style="margin-right: 1em;" data-toggle-modal="likedSpots">Liked spots</button>
                <button class="base-button modal-button" data-toggle-modal="myUploads">My Uploads</button>
                <div class="base-modal" id="likedSpots" data-likes-loaded="false">
                    <div class="base-modal-inner" id="likedSpotsInner">
                        <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert close-modal" data-toggle-modal="likedSpots">
                        <div class="base-modal-content" id="likesObserverContainer">
                            <div class="profile-spots-container" id="likedSpotsContainer"></div>
                        </div>
                    </div>
                </div>
                <div class="base-modal" id="myUploads" data-uploads-loaded="false">
                    <div class="base-modal-inner" id="myUploadsInner">
                        <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert close-modal" data-toggle-modal="myUploads">
                        <div class="base-modal-content" id="myUploadsObserverContainer">
                            <div class="profile-spots-container" id="myUploadsContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-image-modal-outer" id="profileImageModalOuter">
        <div class="profile-image-modal-container" id="profileImageModalContainer">
            <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert" onclick="hideProfileImageModal()">
            <p style="align-self: center; font-weight: bold;">Preview</p>

            <div class="profile-image-container" style="width: 50%;">
                <div class="profile-settings-picture" style="background-image: url('/images/defaultProfile2.png'); width: 100%;" id="profilePicturePreview">
                </div>
                <input type="file" accept="image" name="profilePicture" id="profilePictureInput" style="display: none;">
            </div>
            <button class="default-button" style="justify-self: flex-end;" id="confirmProfileImageUpdate">CONFIRM</button>
        </div>
    </div>
    <div class="drag-image-position"></div>
</body>
<script>

    let user = JSON.parse('<%- JSON.stringify(userProfile)%>')
    let twoFactorAuthPill = document.getElementById("twoFactorAuthPill")
    let darkModePill = document.getElementById("darkModePill")
    let darkMapPill = document.getElementById("darkMapPill")

    let twoFactorAuthPillCircle = document.getElementById("twoFactorAuthPillCircle")
    let darkModePillCircle = document.getElementById("darkModePillCircle")
    let darkMapPillCircle = document.getElementById("darkMapPillCircle")

    function updateSettingsDisplay() {
        twoFactorAuthPill.classList.add(user.settings.twoFactorAuth ? "pill-on" : "pill-off")
        darkModePill.classList.add(user.settings.darkMode ? "pill-on" : "pill-off")
        darkMapPill.classList.add(user.settings.darkMap ? "pill-on" : "pill-off")

        twoFactorAuthPillCircle.classList.add(user.settings.twoFactorAuth ? "pill-circle-on" : "pill-circle-off")
        darkModePillCircle.classList.add(user.settings.darkMode ? "pill-circle-on" : "pill-circle-off")
        darkMapPillCircle.classList.add(user.settings.darkMap ? "pill-circle-on" : "pill-circle-off")
    }
    updateSettingsDisplay()

    function filesToBase64(img) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader
            reader.onload = () => resolve(reader.result)
            reader.onerror = reject
            reader.readAsDataURL(img)
        })
    }

    document.querySelectorAll(".tooltip-div").forEach(item => {
        item.addEventListener("click", function() {
            function checkClickedOut(e) {
                console.log("check clicked out")
                if (!item.contains(e.target)) {
                    item.querySelector(".tooltip-text").classList.add("hide-tooltip")
                    document.removeEventListener("click", checkClickedOut)
                }
            }
            if (this.querySelector(".tooltip-text").classList.contains("hide-tooltip")) {
                this.querySelector(".tooltip-text").classList.remove("hide-tooltip")
                document.addEventListener("click", checkClickedOut)
            } else {
                this.querySelector(".tooltip-text").classList.add("hide-tooltip")
            }
        })
    })

    let likesObserverContainer = document.getElementById("likesObserverContainer")
    let myUploadsObserverContainer = document.getElementById("myUploadsObserverContainer")

    const likesObserverCallback = (entries, observer) => {
        entries.forEach(item => {
            if (item.isIntersecting) {
                observer.unobserve(item.target)
                let spotId = item.target.getAttribute("data-spotid")
                getLikesImages(spotId)
            }
        })
    }

    const myUploadsObserverCallback = (entries, observer) => {
        entries.forEach(item => {
            if (item.isIntersecting) {
                observer.unobserve(item.target)
                getUploadImages(item.target.getAttribute("data-spotid"))
            }
        })
    }

    const likesObserver = new IntersectionObserver(likesObserverCallback, {
        root: likesObserverContainer,
        threshold: 1
    })

    const myUploadsObserver = new IntersectionObserver(myUploadsObserverCallback, {
        root: myUploadsObserverContainer,
        threshold: 1
    })

    let currentOpenModal = null
    let currentOpenModalID = null
    let eventController = null

    function hideModal(id) {
        let modalOuter = document.getElementById(`${id}`)
        let modalInner = modalOuter.querySelectorAll(".base-modal-inner")[0]
        modalOuter.style.opacity = "0"
        modalOuter.style.pointerEvents = "none"
        modalInner.style.transform = "translateY(-20px)"
        currentOpenModal = null
    }

    async function showModal(id) {
        let modalOuter = document.getElementById(`${id}`)
        let modalInner = modalOuter.querySelectorAll(".base-modal-inner")[0]
        modalOuter.style.opacity = "1"
        modalOuter.style.pointerEvents = "auto"
        modalInner.style.transform = "translateY(0)"
        currentOpenModal = id
        if (modalOuter.hasAttribute("data-uploads-loaded")) {
            if (modalOuter.getAttribute("data-uploads-loaded") === "false") {
                console.log("Uploads loading")
                modalOuter.setAttribute("data-uploads-loaded", "true")
                retrieveUploads()
            }
        }
        if (modalOuter.hasAttribute("data-likes-loaded")) {
            if (modalOuter.getAttribute("data-likes-loaded") === "false") {
                console.log("Likes Loading")
                modalOuter.setAttribute("data-likes-loaded", "true")
                retrieveLikes()
            }
        }
    }

    function hideEditImagesSection(id) {
        document.getElementById(`spotPicturesCarousel-${id}`).classList.remove("hidden")
        document.getElementById(`editPicturesDiv-${id}`).classList.add("hidden")
        document.getElementById(`cancelEditImagesButton-${id}`).classList.add("hidden")
        document.getElementById(`editImagesButton-${id}`).classList.remove("hidden")
    }

    function showEditImagesSection(id) {
        document.getElementById(`spotPicturesCarousel-${id}`).classList.add("hidden")
        document.getElementById(`editPicturesDiv-${id}`).classList.remove("hidden")
        document.getElementById(`cancelEditImagesButton-${id}`).classList.remove("hidden")
        document.getElementById(`editImagesButton-${id}`).classList.add("hidden")
    }

    function updateModalListeners() {
        if (eventController) {
            eventController.abort()
        }
        eventController = new AbortController()
        let eventSignal = eventController.signal
        document.querySelectorAll(".modal-button").forEach(elm => {
            elm.addEventListener("click", function() {
                if(currentOpenModal !== null) {
                    hideModal(currentOpenModal)
                }
                let id = this.getAttribute("data-toggle-modal")
                showModal(id)
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".close-modal").forEach(elm => {
            elm.addEventListener("click", function() {
                let id = this.getAttribute("data-toggle-modal")
                hideModal(id)
                if (currentOpenModalID) {
                    try{
                        clearSelections(currentOpenModalID)
                        hideEditImagesSection(currentOpenModalID)
                    } catch(error){
                        console.log(error)
                    }
                }
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".edit-images-button").forEach(elm => {
            elm.addEventListener("click", function() {
                let id = elm.getAttribute("data-toggle-edit")
                currentOpenModalID = id
                showEditImagesSection(id)
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".cancel-edit-images-button").forEach(elm => {
            elm.addEventListener("click", function() {
                let id = elm.getAttribute("data-toggle-edit")
                clearSelections(id)
                hideEditImagesSection(id)
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".edit-pictures-item").forEach(elm => {
            let isDragging = false
            elm.addEventListener("click", function() {
                if (isDragging) {
                    // isDragging = false
                    return
                }
                let id = elm.getAttribute("data-id")
                let imageId = elm.getAttribute("data-imageid")
                let check = elm.querySelectorAll(".edit-pictures-check")[0]
                let imageItem = selectedImages.get(`spot-${id}`).get(`list-${imageId}`)
                if (imageItem.isSelected === false) {
                    selectedImages.get(`spot-${id}`).set(`list-${imageId}`, {
                        ...imageItem,
                        isSelected: true
                    })
                    check.classList.remove("hide-check")

                } else {
                    selectedImages.get(`spot-${id}`).set(`list-${imageId}`, {
                        ...imageItem,
                        isSelected: false
                    })
                    check.classList.add("hide-check")
                }
                // console.log(selectedImages.get(`spot-${id}`))
                let noneSelected = true
                let newPositions = false
                selectedImages.get(`spot-${id}`).forEach((item, key) => {
                    if (item.isSelected === true) {
                        noneSelected = false
                    }
                    if (item.newPosition === true) {
                        newPositions = true
                    }
                })
                if (!newPositions) {
                    if (noneSelected) {
                        document.getElementById(`confirmEditImagesButton-${id}`).classList.add("hidden")
                    } else {
                        document.getElementById(`confirmEditImagesButton-${id}`).classList.remove("hidden")
                    }
                }
            }, {signal: eventSignal})

            elm.addEventListener("pointerdown", function(e) {
                e.preventDefault()
                elm.style.touchAction = "none"
                if (navigator.maxTouchPoints > 0) {
                    return
                }
                // elm.style.touchAction = "none"
                let initX = e.clientX
                let initY = e.clientY
                isDragging = false
                let id = elm.getAttribute("data-id")
                let imageId = elm.getAttribute("data-imageid")
                let initImage = selectedImages.get(`spot-${id}`).get(`list-${imageId}`)
                let editPicturesDiv = document.getElementById(`editPicturesDiv-${id}`)
                editPicturesDiv.style.touchAction = "none"
                let dragImagePlaceholder = document.querySelector(".drag-image-position")
                let draggingElm = e.target
                dragImagePlaceholder.style.display = "block"
                dragImagePlaceholder.style.backgroundImage = `${elm.style.backgroundImage}`

                function dragEvent(drag) {
                    // isDragging = true
                    console.log("window drag")
                    dragImagePlaceholder.style.top = `${drag.clientY - 50}px`
                    dragImagePlaceholder.style.left = `${drag.clientX - 50}px`
                }

                function hoverIn(hover) {
                    if (hover.target.classList.contains("edit-pictures-item")) {
                        hover.target.classList.add("edit-pictures-item-draghover")
                    }
                }

                function hoverOut(hover) {
                    if (hover.target.classList.contains("edit-pictures-item")){
                        hover.target.classList.remove("edit-pictures-item-draghover")
                    }
                }

                function stopDrag(stop) {
                    // click start and stop position offset, differentiate between click and drag
                    if (Math.abs(stop.clientX - initX) > 10 || Math.abs(stop.clientY - initY) > 10) {
                        isDragging = true
                        if (stop.target.classList.contains("edit-pictures-item")) {
                            stop.target.classList.remove("edit-pictures-item-draghover")
                            if (stop.target !== draggingElm) {
                                let currentImageId = stop.target.getAttribute("data-imageid")
                                let currentImage = selectedImages.get(`spot-${id}`).get(`list-${currentImageId}`)
                                let tempBgImage = stop.target.style.backgroundImage
                                stop.target.style.backgroundImage = `${draggingElm.style.backgroundImage}`
                                draggingElm.style.backgroundImage = `${tempBgImage}`
                                stop.target.setAttribute("data-imageid", initImage.imageId)
                                draggingElm.setAttribute("data-imageid", currentImage.imageId)
                                initImage.isSelected ? stop.target.querySelectorAll(".edit-pictures-check")[0].classList.remove("hide-check") : stop.target.querySelectorAll(".edit-pictures-check")[0].classList.add("hide-check")
                                currentImage.isSelected ? draggingElm.querySelectorAll(".edit-pictures-check")[0].classList.remove("hide-check") : draggingElm.querySelectorAll(".edit-pictures-check")[0].classList.add("hide-check")
                                let tempCurrent = currentImage.position
                                selectedImages.get(`spot-${id}`).set(`list-${currentImageId}`, {
                                    ...currentImage,
                                    position: initImage.position,
                                    newPosition: true,
                                })

                                selectedImages.get(`spot-${id}`).set(`list-${imageId}`, {
                                    ...initImage,
                                    position: tempCurrent,
                                    newPosition: true,
                                })
                                document.getElementById(`confirmEditImagesButton-${id}`).classList.remove("hidden")
                            }
                        }
                    }
                    dragImagePlaceholder.style.display = "none"
                    dragImagePlaceholder.style.top = "-100%"
                    dragImagePlaceholder.style.left = "-100%"
                    editPicturesDiv.removeEventListener("pointermove", dragEvent)
                    editPicturesDiv.removeEventListener("pointerup", stopDrag)
                    editPicturesDiv.removeEventListener("pointerover", hoverIn)
                    editPicturesDiv.removeEventListener("pointerout", hoverOut)
                }
                editPicturesDiv.addEventListener("pointerover", hoverIn)
                editPicturesDiv.addEventListener("pointerout", hoverOut)
                editPicturesDiv.addEventListener("pointermove", dragEvent)
                editPicturesDiv.addEventListener("pointerup", stopDrag)
            }, {signal: eventSignal})

            elm.addEventListener("touchstart", function(e) {
                // e.preventDefault()
                elm.style.touchAction = "none"
                let initX = e.touches[0].clientX
                let initY = e.touches[0].clientY
                isDragging = false
                let id = elm.getAttribute("data-id")
                let imageId = elm.getAttribute("data-imageid")
                let initImage = selectedImages.get(`spot-${id}`).get(`list-${imageId}`)
                let editPicturesDiv = document.getElementById(`editPicturesDiv-${id}`)
                editPicturesDiv.style.touchAction = "none"
                let dragImagePlaceholder = document.querySelector(".drag-image-position")
                let draggingElm = e.target
                dragImagePlaceholder.style.display = "block"
                dragImagePlaceholder.style.backgroundImage = `${elm.style.backgroundImage}`

                function dragEvent(drag) {
                    dragImagePlaceholder.style.top = `${drag.touches[0].clientY - 50}px`
                    dragImagePlaceholder.style.left = `${drag.touches[0].clientX - 50}px`
                }

                function stopDrag(stop) {
                    let endTarget = document.elementFromPoint(stop.changedTouches[0].clientX, stop.changedTouches[0].clientY)
                    // click start and stop position offset, differentiate between click and drag
                    if (Math.abs(stop.changedTouches[0].clientX - initX) > 10 || Math.abs(stop.changedTouches[0].clientY - initY) > 10) {
                        isDragging = true
                        if (endTarget.classList.contains("edit-pictures-item")) {
                            endTarget.classList.remove("edit-pictures-item-draghover")
                            if (endTarget !== draggingElm) {
                                let currentImageId = endTarget.getAttribute("data-imageid")
                                let currentImage = selectedImages.get(`spot-${id}`).get(`list-${currentImageId}`)
                                let tempBgImage = endTarget.style.backgroundImage
                                endTarget.style.backgroundImage = `${draggingElm.style.backgroundImage}`
                                draggingElm.style.backgroundImage = `${tempBgImage}`
                                endTarget.setAttribute("data-imageid", initImage.imageId)
                                draggingElm.setAttribute("data-imageid", currentImage.imageId)
                                initImage.isSelected ? endTarget.querySelectorAll(".edit-pictures-check")[0].classList.remove("hide-check") : endTarget.querySelectorAll(".edit-pictures-check")[0].classList.add("hide-check")
                                currentImage.isSelected ? draggingElm.querySelectorAll(".edit-pictures-check")[0].classList.remove("hide-check") : draggingElm.querySelectorAll(".edit-pictures-check")[0].classList.add("hide-check")
                                let tempCurrent = {
                                    position: currentImage.position,
                                    // isSelected: currentImage.isSelected,
                                    // imageUrl: currentImage.imageUrl
                                }
                                selectedImages.get(`spot-${id}`).set(`list-${currentImageId}`, {
                                    ...currentImage,
                                    position: initImage.position,
                                    newPosition: true,
                                    // isSelected: initImage.isSelected,
                                    // imageUrl: initImage.imageUrl
                                })

                                selectedImages.get(`spot-${id}`).set(`list-${imageId}`, {
                                    ...initImage,
                                    position: tempCurrent.position,
                                    newPosition: true,
                                    // isSelected: tempCurrent.isSelected,
                                    // imageUrl: tempCurrent.imageUrl
                                })
                                document.getElementById(`confirmEditImagesButton-${id}`).classList.remove("hidden")
                            }
                        }
                    }
                    dragImagePlaceholder.style.display = "none"
                    dragImagePlaceholder.style.top = "-100%"
                    dragImagePlaceholder.style.left = "-100%"
                    editPicturesDiv.removeEventListener("touchmove", dragEvent)
                    editPicturesDiv.removeEventListener("touchend", stopDrag)
                }
                editPicturesDiv.addEventListener("touchmove", dragEvent)
                editPicturesDiv.addEventListener("touchend", stopDrag)
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".confirm-edit-images-button").forEach(elm => {
            elm.addEventListener("click", async () => {
                let id = elm.getAttribute("data-id")
                let sendData = []
                let listSize = selectedImages.get(`spot-${id}`).size
                let selectedLength = 0
                for (let x = 0; x < listSize; x++) {
                    selectedImages.get(`spot-${id}`).forEach((item, key) => {
                        if (item.position === x) {
                            sendData.push(item)
                            if (item.isSelected) {
                                selectedLength = selectedLength + 1
                            }
                        }
                    })
                }
                console.log(sendData)

                if (selectedLength === sendData.length) {
                    addNewAlert("ERROR", "At least one image needed in spot")
                    return
                }
                await fetch("/modifyImages", {
                    method: "POST",
                        headers: {
                        // "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        imageList: sendData
                    })
                })
                .then(async res => {
                    let resData = await res.json()
                    console.log(resData)
                    if (resData.status === "SUCCESS") {
                        document.getElementById(`confirmEditImagesButton-${id}`).classList.add("hidden")
                        updateModalImages(id, resData.newImages)
                        updateModalListeners()
                        document.getElementById(`frontImageEdit-${id}`).style.backgroundImage = `url("${resData.newImages[0].imageUrl}")`
                        addNewAlert(resData.status, resData.message)
                    } else {
                        addNewAlert(resData.status, resData.message)
                    }
                })
                .catch(error => {
                    console.log(error)
                })
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".add-new-images").forEach(elm => {
            elm.addEventListener("submit", async function(e) {
                e.preventDefault()
                console.log("new images")
                let id = elm.getAttribute("data-id")
                let images = document.getElementById(`addSpotImages-${id}`)
                if ((images.length + selectedImages.get(`spot-${id}`).size) > 10) {
                    addNewAlert("ERROR", "Can't add more than 10 images")
                    images.value = null
                    return
                }
                let totalSize = 0
                let currentPosition = selectedImages.get(`spot-${id}`).size
                let newImages = []
                for (let x = 0; x < images.files.length; x++) {
                    const compressedImage = await imageConversion.compressAccurately(images.files[x], 400)
                    await filesToBase64(compressedImage)
                    .then(res => {
                        newImages.push({
                            position: currentPosition,
                            imageUrl: res,
                            spotId: id
                        })
                    })
                    currentPosition = currentPosition + 1
                    totalSize = totalSize + compressedImage.size
                }
                let sizeInMB = totalSize / 1048576
                if (sizeInMB > 10) {
                    addNewAlert("ERROR", "Files are too large")
                    return
                }
                await fetch('/addSpotImages', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        imagesData: newImages,
                        action: "addnew"
                    })
                })
                .then(async res => {
                    let resData = await res.json()
                    console.log(resData)
                    if (resData.status === "SUCCESS") {
                        addNewAlert(resData.status, resData.message)
                        updateModalImages(id, resData.newImages, "addnew")
                        updateModalListeners()
                        currentOpenModalID = id
                        showEditImagesSection(id)
                        images.value = null
                        document.getElementById(`fileSizeSpan-${id}`).innerText = "0"
                    } else {
                        addNewAlert(resData.status, resData.message)
                    }
                })
                .catch(error => {
                    console.log(error)
                })

                console.log(sizeInMB)
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".add-new-images-input").forEach(elm => {
            elm.addEventListener("change", async function() {
                let id = elm.getAttribute("data-id")
                let fileSizeSpan = document.getElementById(`fileSizeSpan-${id}`)
                let totalSize = 0
                for (let x = 0; x < elm.files.length; x++) {
                    const compressedImage = await imageConversion.compressAccurately(elm.files[x], 400)
                    totalSize = totalSize + elm.files[x].size
                }
                let sizeInMB = totalSize / 1000000
                if (sizeInMB > 10) {
                    fileSizeSpan.style.color = "red"
                } else {
                    fileSizeSpan.style.color = "green"
                }
                
                fileSizeSpan.innerText = sizeInMB.toFixed(2)
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".edit-description").forEach(elm => {
            elm.addEventListener("input", function() {
                let id = elm.getAttribute("data-id")
                if(!document.getElementById(`saveDescription${id}`).classList.contains("hidden")) return
                document.getElementById(`saveDescription${id}`).classList.remove("hidden")
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".edit-spottype").forEach(elm => {
            elm.addEventListener("change", function() {
                let id = elm.getAttribute("data-id")
                if(!document.getElementById(`saveSpottype${id}`).classList.contains("hidden")) return
                document.getElementById(`saveSpottype${id}`).classList.remove("hidden")
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".save-description").forEach(elm => {
            elm.addEventListener("click", async function() {
                let id = elm.getAttribute("data-id")
                let descriptionValue = document.getElementById(`editDescription${id}`).value
                document.getElementById(`saveDescriptionSpinner${id}`).classList.remove("hidden")
                elm.classList.add("hidden")
                await fetch("/updateSpotDetails", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({
                        param: "description",
                        value: descriptionValue,
                        spotId: id
                    })
                })
                .then(async res => {
                    let resData = await res.json()
                    if (resData.status === "SUCCESS") {
                        addNewAlert(resData.status, resData.message)
                        document.getElementById(`saveDescriptionSpinner${id}`).classList.add("hidden")
                    } else {
                        addNewAlert(resData.status, resData.message)
                        document.getElementById(`saveDescriptionSpinner${id}`).classList.add("hidden")
                    }
                })
                .catch(error => {
                    addNewAlert("ERROR", "Error updating details")
                    document.getElementById(`saveDescriptionSpinner${id}`).classList.add("hidden")
                })
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".save-spottype").forEach(elm => {
            elm.addEventListener("click", async function() {
                let id = elm.getAttribute("data-id")
                let spottypeValue = document.getElementById(`editSpottype${id}`).value
                document.getElementById(`saveSpottypeSpinner${id}`).classList.remove("hidden")
                elm.classList.add("hidden")
                await fetch("/updateSpotDetails", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({
                        param: "spottype",
                        value: spottypeValue,
                        spotId: id
                    })
                })
                .then(async res => {
                    let resData = await res.json()
                    if (resData.status === "SUCCESS") {
                        addNewAlert(resData.status, resData.message)
                        document.getElementById(`saveSpottypeSpinner${id}`).classList.add("hidden")
                    } else {
                        addNewAlert(resData.status, resData.message)
                        document.getElementById(`saveSpottypeSpinner${id}`).classList.add("hidden")
                    }
                })
                .catch(error => {
                    addNewAlert("ERROR", "Error updating details")
                    document.getElementById(`saveSpottypeSpinner${id}`).classList.add("hidden")
                })
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".delete-spot").forEach(elm => {
            elm.addEventListener("click", function() {
                let id = elm.getAttribute("data-id")
                let confirmDeleteSpotDiv = document.getElementById(`confirmDeleteSpotDiv-${id}`)
                confirmDeleteSpotDiv.classList.remove("hidden")
                elm.classList.add("hidden")
                let scrollContainer = document.getElementById(`editContainer${id}`)
                window.scrollTo({top: scrollContainer.offsetTop, behavior: "smooth"})
                // window.location.replace(`#confirmDeleteSpotDiv-${id}`)
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".cancel-delete-spot").forEach(elm => {
            elm.addEventListener("click", function() {
                let id = elm.getAttribute("data-id")
                let confirmDeleteSpotDiv = document.getElementById(`confirmDeleteSpotDiv-${id}`).classList.add("hidden")
                let deleteSpot = document.getElementById(`deleteSpot-${id}`).classList.remove("hidden")
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".confirm-delete-spot").forEach(elm => {
            elm.addEventListener("click", async function() {
                let id = elm.getAttribute("data-id")
                await fetch("/deleteSpot", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        spotId: id
                    })
                })
                .then(async res => {
                    let resData = await res.json()
                    console.log(resData)
                    if (resData.status === "SUCCESS") {
                        window.location.replace("/profile")
                    } else {
                        addNewAlert(resData.status)
                    }
                })
            }, {signal: eventSignal})
        })
    }
    updateModalListeners()

    //close modal when clicked outside
    document.addEventListener("click", function(e) {
        if (currentOpenModal) {
            let modal = document.getElementById(`${currentOpenModal}`).querySelectorAll(".base-modal-inner")[0]
            let alertDiv = document.getElementById("alertDiv")
            if (!modal.contains(e.target) && !e.target.classList.contains("modal-button") && !alertDiv.contains(e.target)) {
                hideModal(currentOpenModal)
                if (currentOpenModalID) {
                    try{
                        clearSelections(currentOpenModalID)
                        hideEditImagesSection(currentOpenModalID)
                    } catch(error){
                        console.log(error)
                    }
                }
            }
        }
    })

    let selectedImages = new Map()
    let imagesMap = new Map()

    function updateModalImages(id, images, action="reset") {
        let editPicturesDiv = document.getElementById(`editPicturesDiv-${id}`)
        let spotPicturesCarousel = document.getElementById(`spotPicturesCarousel-${id}`).querySelectorAll(".swiper-wrapper")[0]
        let imageNodes = ''
        let carouselNodes = ''
        let imageList = new Map()

        for (let x = 0; x < images.length; x++) {
            if (action === "reset") {
                imageList.set(`list-${images[x]._id}`, {
                    spotId: images[x].spotId,
                    imageId: images[x]._id,
                    imageUrl: images[x].imageUrl,
                    position: images[x].position,
                    isSelected: false,
                    newPosition: false
                })
            } else if (action === "addnew") {
                selectedImages.get(`spot-${id}`).set(`list-${images[x]._id}`, {
                    spotId: images[x].spotId,
                    imageId: images[x]._id,
                    imageUrl: images[x].imageUrl,
                    position: images[x].position,
                    isSelected: false,
                    newPosition: false
                })
            }
            // <img src="/logos/checkLight.png" alt="" style="width: 80%;"> check green
            let image = `<div class="edit-pictures-item" style="background-image: url('${images[x].imageUrl}');" id="editItem${images[x]._id}" data-picture-index="${images[x].position}" data-id="${id}" data-imageid="${images[x]._id}" data-imageidoriginal="${images[x]._id}">
                <div class="edit-pictures-check hide-check">
                    <p style="margin: 0;">X</p>
                </div>
                <div class="edit-check-circle"></div>
            </div>`

            let cNode = `<div class="swiper-slide">
                <div class="carousel-image" style="background-image: url('${images[x].imageUrl}'); background-size: contain;"></div>
            </div>`

            imageNodes = imageNodes + image
            carouselNodes = carouselNodes + cNode
        }
        if (action === "reset") {
            editPicturesDiv.replaceChildren()
            spotPicturesCarousel.replaceChildren()
            selectedImages.set(`spot-${id}`, imageList)
        }
        console.log("action is", action)
        console.log("spot images are", selectedImages)
        editPicturesDiv.insertAdjacentHTML("beforeend",imageNodes)
        spotPicturesCarousel.insertAdjacentHTML("beforeend",carouselNodes)
        const swiper = new Swiper(`.swiper${id}`, {
            direction: 'horizontal',
            loop: true,
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            scrollbar: {
                el: '.swiper-scrollbar',
            },
            obsever: true,
            observeParents: true
        });
        updateModalListeners()
        // swiper.appendSlide(`<div class="swiper-slide">
        //     <div class="carousel-image" style="background-image: url('/images/loading.png'); background-size: contain;"></div>
        // </div>`)
    }

    function clearSelections(id) {
        let editPicturesDiv = document.getElementById(`editPicturesDiv-${id}`)
        document.getElementById(`confirmEditImagesButton-${id}`).classList.add("hidden")
        // let positionReset = 0
        editPicturesDiv.querySelectorAll(".edit-pictures-item").forEach(elm => {
            console.log("picture index", elm.getAttribute("data-picture-index"))
            let check = elm.querySelectorAll(".edit-pictures-check")[0]
            // let imageId = elm.getAttribute("data-imageid")
            let imageId = elm.getAttribute("data-imageidoriginal")
            elm.setAttribute("data-imageid", imageId)
            check.classList.add("hide-check")
            let currentImage = selectedImages.get(`spot-${id}`).get(`list-${imageId}`)
            if(currentImage.newPosition) {
                elm.style.backgroundImage = `url("${currentImage.imageUrl}")`
            }
            console.log("new index", currentImage.position)
            selectedImages.get(`spot-${id}`).set(`list-${imageId}`, {
                ...currentImage,
                isSelected: false,
                newPosition: false,
                position: parseInt(elm.getAttribute("data-picture-index"))
            })
        })
    }

    async function retrieveUploads() {
        await fetch("/getMyUploads", {
            method: "GET"
        })
        .then(async res => {
            let resData = await res.json()
            if (resData.status === "SUCCESS") {
                let myUploadsContainer = document.getElementById("myUploadsContainer")
                let spotsContentDiv = document.getElementById("spotsContentDiv")
                if (resData.myUploads.length === 0) {
                    myUploadsContainer.insertAdjacentHTML("beforeend", "<p>No Uploads, go to <a href='/map' style='color: purple;'>map</a> to create new</p>")
                }
                for (let x = 0; x < resData.myUploads.length; x++) {
                    let elementNode = `<div class="profile-spot-item uploads-front-banner" id="uploadsFrontBanner${resData.myUploads[x]._id}" data-spotid="${resData.myUploads[x]._id}">
                        <div class="profile-spot-item-info">
                            <div style="margin: 1em; display: flex; align-items: center; gap: 0.5em;">
                                <a class="purple-button" href="/map?spot=${resData.myUploads[x]._id}" style="display: block;">View</a>
                                <button class="purple-button modal-button" data-toggle-modal="editSpot${resData.myUploads[x]._id}">Edit</button>
                            </div>
                        </div>
                        <div class="background-dark-filter" style="background-image: url('/images/loading.png');" id="frontImageEdit-${resData.myUploads[x]._id}"></div>
                    </div>`

                    let modalNode = `<div class="base-modal" id="editSpot${resData.myUploads[x]._id}">
                        <div class="base-modal-inner" id="editSpot${resData.myUploads[x]._id}Inner">
                            <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert close-modal" data-toggle-modal="editSpot${resData.myUploads[x]._id}">
                            <div class="edit-pictures-container" id="editContainer${resData.myUploads[x]._id}">
                                <div class="edit-pictures-div hidden" id="editPicturesDiv-${resData.myUploads[x]._id}"></div>

                                <div class="swiper swiper${resData.myUploads[x]._id}" style="height: 60vh;" id="spotPicturesCarousel-${resData.myUploads[x]._id}">
                                    <div class="swiper-wrapper"></div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>

                                <div style="display: flex; align-items: center; gap: 1em; margin-top: 2em;">
                                    <button class="base-button edit-images-button" data-toggle-edit="${resData.myUploads[x]._id}" id="editImagesButton-${resData.myUploads[x]._id}">Edit Images</button>
                                    <button class="base-button cancel-edit-images-button hidden" data-toggle-edit="${resData.myUploads[x]._id}" id="cancelEditImagesButton-${resData.myUploads[x]._id}">Cancel</button>
                                    <button class="base-button confirm-edit-images-button hidden" id="confirmEditImagesButton-${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}">Confirm</button>
                                </div>

                                <form action="" class="add-new-images" data-id="${resData.myUploads[x]._id}" style="margin-top: 2em; display: flex; flex-direction: column; align-items: start;">
                                    <label for="spotImages" style="margin-bottom: 0.5em;">Add new Images</label>
                                    <input type="file" name="images" class="add-new-images-input" id="addSpotImages-${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}" accept="image/png, image/jpeg" multiple required>
                                    <p style="font-size: 0.8em; margin-top: 5px;">File size: <span id="fileSizeSpan-${resData.myUploads[x]._id}">0</span> mb</p>
                                    <button class="base-button">Add</button>
                                </form>

                                <div class="edit-details">
                                    <label for="description">description</label>
                                    <textarea class="edit-description" name="description" id="editDescription${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}" rows="4" style="padding: 0.3em; margin-top: 0.5em; border: 1px solid gray; border-radius: 4px; margin-bottom: 1em;">${resData.myUploads[x].description}</textarea>
                                    <img src="/logos/skateboardlight.png" alt="spinner" class="save-spinner hidden" id="saveDescriptionSpinner${resData.myUploads[x]._id}">
                                    <button class="save-button save-description hidden" id="saveDescription${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}">SAVE</button>

                                    <label for="spottype">Spot Type</label>
                                    <select class="edit-spottype" name="spottype" id="editSpottype${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}" style="padding: 0.3em; margin-top: 0.5em; border: 1px solid gray; border-radius: 4px; margin-bottom: 1em;">
                                        <option value="${resData.myUploads[x].spottype}" selected>${resData.myUploads[x].spottype}</option>
                                        <option value="rail">rail</option>
                                        <option value="stairs">stairs</option>
                                        <option value="park">park</option>
                                        <option value="ledge">ledge</option>
                                        <option value="other">other</option>
                                    </select>
                                    <img src="/logos/skateboardlight.png" alt="spinner" class="save-spinner hidden" id="saveSpottypeSpinner${resData.myUploads[x]._id}">
                                    <button class="save-button save-spottype hidden" id="saveSpottype${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}">SAVE</button>
                                </div>
                                <div id="confirmDeleteSpotDiv-${resData.myUploads[x]._id}" class="hidden">
                                    <p>Are you sure you wish to delete this spot?</p>
                                    <div>
                                        <button class="base-button cancel-delete-spot" id="cancelDeleteSpot-${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}">Cancel</button>
                                        <button class="base-button confirm-delete-spot" style="border: 1px solid red; color: red;" id="confirmDeleteSpot-${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}">Delete Spot</button>
                                    </div>    
                                </div>
                                <button class="base-button delete-spot" style="border: 1px solid red; color: red;" id="deleteSpot-${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}">Delete Spot</button>
                            </div>
                        </div>
                    </div>`
                    myUploadsContainer.insertAdjacentHTML("beforeend", elementNode)
                    spotsContentDiv.insertAdjacentHTML("beforeend", modalNode)
                }
                updateModalListeners()
                document.querySelectorAll(".uploads-front-banner").forEach(item => {
                    myUploadsObserver.observe(item)
                })
            } else {
                updateModalListeners()
                addNewAlert("ERROR", "Could not get Uploads")
            }
        })
        .catch(error => {
            console.log(error)
            addNewAlert("ERROR", "Could not get Uploads")
            updateModalListeners()
        })
    }

    async function getUploadImages(spotId) {
        await fetch("/getSpotImages", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                spotId: spotId,
                action: "all"
            })
        })
        .then(async res => {
            // console.log("response", res)
            let resData = await res.json()
            // console.log(resData)
            if (resData.status === "SUCCESS") {
                document.getElementById(`uploadsFrontBanner${spotId}`).querySelector(".background-dark-filter").style.backgroundImage = `url('${resData.images[0].imageUrl}')`
                updateModalImages(spotId, resData.images)
            }
        })
    }

    async function retrieveLikes() {
        await fetch("/getLikedSpots", {
            method: "GET"
        })
        .then(async res => {
            let resData = await res.json()
            console.log(resData)
            if (resData.status === "SUCCESS") {
                let likedSpotsContainer = document.getElementById("likedSpotsContainer")
                if (resData.myLikes.length === 0) {
                    likedSpotsContainer.insertAdjacentHTML("beforeend", "<p>No liked spots, go to <a href='/map' style='color: purple;'>map</a> to explore</p>")
                }
                for (let x = 0; x < resData.myLikes.length; x++) {
                    // let frontImage = ""
                    // for (let item of resData.frontImage) {
                    //     if (item.spotId === resData.myLikes[x]._id) {frontImage = item.imageUrl; break;}
                    // }
                    let elementNode = `<div class="profile-spot-item likes-front-banner" id="likesFrontBanner${resData.myLikes[x]._id}" data-spotid="${resData.myLikes[x]._id}">
                        <div class="profile-spot-item-info">
                            <div style="margin: 1em;">
                                <a class="purple-button" href="/map?spot=${resData.myLikes[x]._id}" style="display: block;">View</a>
                            </div>
                        </div>
                        <div class="background-dark-filter" style="background-image: url('/images/loading.png');"></div>
                    </div>`
                    likedSpotsContainer.insertAdjacentHTML("beforeend", elementNode)
                }
                document.querySelectorAll(".likes-front-banner").forEach(item => {
                    likesObserver.observe(item)
                })
            }
        })
    }
    // retrieveLikes()
    async function getLikesImages(spotId) {
        await fetch("/getSpotImages", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                spotId: spotId,
                action: "first"
            })
        })
        .then(async res => {
            let resData = await res.json()
            // console.log(resData)
            if (resData.status === "SUCCESS") {
                // updateModalImages(spotId, resData.images)
                document.getElementById(`likesFrontBanner${spotId}`).querySelector(".background-dark-filter").style.backgroundImage = `url('${resData.images[0].imageUrl}')`
            }
        })
    }

    let profilePictureInput = document.getElementById("profilePictureInput")
    let profilePreview = ""
    document.getElementById("editProfileImage").addEventListener("click", function() {
        profilePictureInput.click()
    })

    profilePictureInput.addEventListener("change", function() {
        console.log(profilePictureInput.files[0].size)
        filesToBase64(profilePictureInput.files[0])
        .then(fileRes => {
            // console.log(fileRes)
            profilePreview = fileRes
            let prev = document.getElementById("profilePicturePreview")
            prev.style.backgroundImage = `url("${profilePreview}")`
            openProfileImageModal()
        })
        .catch(error => {
            console.log(error)
        })
    })

    function openProfileImageModal() {
        let profileImageModalOuter = document.getElementById("profileImageModalOuter")
        let profileImageModalContainer = document.getElementById("profileImageModalContainer")
        profileImageModalOuter.style.opacity = 1
        profileImageModalContainer.style.transform = "translateY(0)"
        profileImageModalOuter.style.pointerEvents = "auto"
    }

    function hideProfileImageModal() {
        let profileImageModalOuter = document.getElementById("profileImageModalOuter")
        let profileImageModalContainer = document.getElementById("profileImageModalContainer")
        profileImageModalOuter.style.opacity = 0
        profileImageModalContainer.style.transform = "translateY(-20%)"
        profileImageModalOuter.style.pointerEvents = "none"
    }

    document.getElementById("confirmProfileImageUpdate").addEventListener("click", async function() {
        await fetch('/updateProfileImage', {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                profileImage: profilePreview
            })
        })
        .then(async res => {
            let resData = await res.json()
            if(resData.status === "SUCCESS") {
                addNewAlert(resData.status, resData.message)
                document.getElementById("profilePicture").style.backgroundImage = `url('${profilePreview}')`
                hideProfileImageModal()
            } else {
                addNewAlert(resData.status, resData.message)
            }
        })
        .catch(error => {
            console.log(error)
            addNewAlert("ERROR", "Error updating image")
        })
    })

    let pillUpdating = false
    document.querySelectorAll(".profile-pill-div").forEach(elm => {
        elm.addEventListener("click", async function() {
            if (pillUpdating) {
                return
            }
            pillUpdating = true
            this.classList.toggle("pill-on")
            let id = this.getAttribute("id")
            let param = this.getAttribute("data-param")
            document.getElementById(`${id}Circle`).classList.toggle("pill-circle-on")
            let pillValue = document.getElementById(`${id}Value`).value
            document.getElementById(`${id}Value`).value = pillValue === "true" ? "false" : "true"
            console.log(document.getElementById(`${id}Value`).value)
            await fetch("/updateProfile", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    param: param,
                    value: document.getElementById(`${id}Value`).value
                })
            })
            .then(async res => {
                let resData = await res.json()
                if (resData.status === "SUCCESS") {
                    addNewAlert(resData.status, resData.message)
                    console.log("darkMode", document.getElementById("darkModePillValue").value)
                    if (document.getElementById("darkModePillValue").value === "true") {
                        document.body.classList.add("dark-mode")
                        document.body.classList.remove("light-mode")
                    } else if (document.getElementById("darkModePillValue").value === "false") {
                        document.body.classList.remove("dark-mode")
                        document.body.classList.add("light-mode")
                    } else {
                        document.body.classList.remove("dark-mode")
                        document.body.classList.remove("light-mode")
                    }
                    pillUpdating = false
                } else {
                    addNewAlert(resData.status, resData.message)
                    pillUpdating = false
                }
            })
            .catch(error => {
                addNewAlert("ERROR", "Could not update profile")
                pillUpdating = false
            })
        })
    })
</script>
</html>