<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/WangYuLue/image-conversion/build/conversion.js"></script>

    <title>Skatespot App</title>
    <link rel="stylesheet" href="/index.css">
    <style>
        .swiper {
            width: 100%;
            height: 50vh;
        }
    </style>
</head>
<body>
    <%- include('templates/nav.ejs') %>
    <%- include('templates/alert.ejs') %>
    <%- include('templates/theme.ejs') %>
    <div class="profile-div">
        <div class="profile-side">
            <div class="profile-info-div" style="display: flex; flex-direction: column; align-items: start;">
                <div class="profile-image-container">
                    <div class="profile-settings-picture" style="background-image: url('<%= user.profileImage %>');" id="profilePicture">
                        <!-- <img src="/images/defaultProfile.jpg" alt="" style="width: 100%; aspect-ratio: 1 / 1;"> -->
                    </div>
                    <div class="edit-profile-image" id="editProfileImage">
                        <p style="margin: 0; font-size: 1em; font-weight: bold;">+</p>
                    </div>
                    <input type="file" accept="image" name="profilePicture" id="profilePictureInput" style="display: none;">
                </div>
                <p class="profile-title">Details</p>
                <div class="underline"></div>

                <div style="width: 100%;">
                    <div style="position: relative;">
                        <p class="profile-detail-title">Username</p>
                        <p class="profile-detail-info" id="usernameValue"><%= user.username %></p>
                        <img src="/logos/pen.png" alt="" class="edit-profile-detail-pen image-invert" id="usernameEdit">
                    </div>
                    <div class="edit-profile-detail hidden" id="usernameEditDiv">
                        <div class="edit-profile-detail-input-div">
                            <input type="text" class="edit-profile-detail-input" value="<%= user.username %>" id="usernameInput" data-param="username">
                            <div class="rounded-close" id="usernameCloseInput">
                                <img src="/logos/closeLight.png" alt="" class="image-invert" style="height: 10px;">
                            </div>
                        </div>
                        <button class="purple-button" style="padding: 0.5em; height: fit-content;" id="usernameConfirm">Confirm</button>
                    </div>
                </div>

                <div style="width: 100%;">
                    <div style="position: relative;">
                        <p class="profile-detail-title">Email</p>
                        <p class="profile-detail-info" id="emailValue"><%= user.email %></p>
                        <img src="/logos/pen.png" alt="" class="edit-profile-detail-pen image-invert" id="emailEdit">
                    </div>
                    <div class="edit-profile-detail hidden" id="emailEditDiv">
                        <div class="edit-profile-detail-input-div">
                            <input type="text" class="edit-profile-detail-input" value="<%= user.email %>" id="emailInput" data-param="email">
                            <div class="rounded-close" id="emailCloseInput">
                                <img src="/logos/closeLight.png" alt="" class="image-invert" style="height: 10px;">
                            </div>
                        </div>
                        <button class="purple-button" style="padding: 0.5em; height: fit-content;" id="emailConfirm">Confirm</button>
                    </div>
                </div>
                <script>
                    //change email
                    document.getElementById("emailEdit").addEventListener("click", function() {
                        document.getElementById("emailValue").classList.toggle("hidden")
                        document.getElementById("emailEditDiv").classList.toggle("hidden")
                        this.classList.toggle("hidden")
                    })

                    document.getElementById("emailCloseInput").addEventListener("click", function() {
                        document.getElementById("emailValue").classList.toggle("hidden")
                        document.getElementById("emailEditDiv").classList.toggle("hidden")
                        document.getElementById("emailEdit").classList.toggle("hidden")
                    })

                    document.getElementById("emailConfirm").addEventListener("click", async function() {
                        await fetch("/updateProfileInfo", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                paramName: "email",
                                inputValue: document.getElementById("emailInput").value
                            })
                        })
                        .then(async res => {
                            let resData = await res.json()
                            console.log(resData)
                            if (res.status === "SUCCESS") {
                                document.getElementById("emailValue").classList.toggle("hidden")
                                document.getElementById("emailEditDiv").classList.toggle("hidden")
                                document.getElementById("emailEdit").classList.toggle("hidden")
                            }
                        })
                    })

                    //change username
                    document.getElementById("usernameEdit").addEventListener("click", function() {
                        document.getElementById("usernameValue").classList.toggle("hidden")
                        document.getElementById("usernameEditDiv").classList.toggle("hidden")
                        this.classList.toggle("hidden")
                    })

                    document.getElementById("usernameCloseInput").addEventListener("click", function() {
                        document.getElementById("usernameValue").classList.toggle("hidden")
                        document.getElementById("usernameEditDiv").classList.toggle("hidden")
                        document.getElementById("usernameEdit").classList.toggle("hidden")
                    })

                    document.getElementById("usernameConfirm").addEventListener("click", async function() {
                        await fetch("/updateProfileInfo", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                paramName: "username",
                                inputValue: document.getElementById("usernameInput").value
                            })
                        })
                        .then(async res => {
                            let resData = await res.json()
                            console.log(resData)
                            if (res.status === "SUCCESS") {
                                document.getElementById("usernameValue").classList.toggle("hidden")
                                document.getElementById("usernameEditDiv").classList.toggle("hidden")
                                document.getElementById("usernameEdit").classList.toggle("hidden")
                            }
                        })
                    })
                </script>

                <% if (user.verified) { %>
                    <div style="display: flex; align-items: center; gap: 5px; margin-top: 1em;">
                        <p>Verified</p>
                        <div class="verified-tick-div">
                            <img src="/logos/checkLight.png" alt="tick" style="height: 9px;">
                        </div>
                    </div>
                <% } else { %>
                    <a href="/verify" class="purple-button" style="margin-top: 1em; padding: 0.5em;">verify Email</a>
                <% } %>
            </div>
        </div>
        <div class="profile-divider"></div>
        <div class="profile-main">
            <div class="profile-info-div">
                <p class="profile-title">Settings</p>
                <div class="underline"></div>

                <div class="profile-pill-outer">
                    <div class="profile-pill-title">Two factor Authentication</div>
                    <div class="profile-pill-div" id="twoFactorAuthPill">
                        <div class="profile-pill-circle" id="twoFactorAuthPillCircle"></div>
                    </div>
                    <input type="hidden" value="<%= user.settings.twoFactorAuth %>" id="twoFactorAuthPillValue">
                </div>
                <div class="profile-pill-outer">
                    <div class="profile-pill-title">Dark mode</div>
                    <div class="profile-pill-div" id="darkModePill">
                        <div class="profile-pill-circle" id="darkModePillCircle"></div>
                    </div>
                    <input type="hidden" value="<%= user.settings.darkMode %>" id="darkModePillValue">
                </div>
                <div class="profile-pill-outer">
                    <div class="profile-pill-title">Dark map</div>
                    <div class="profile-pill-div" id="darkMapPill">
                        <div class="profile-pill-circle" id="darkMapPillCircle"></div>
                    </div>
                    <input type="hidden" value="<%= user.settings.darkMap %>" id="darkMapPillValue">
                </div>
            </div>
            <div class="profile-info-div" id="spotsContentDiv">
                <p class="profile-title">Spots Content</p>
                <div class="underline"></div>
                <button class="base-button modal-button" style="margin-right: 1em;" data-toggle-modal="likedSpots">Liked spots</button>
                <button class="base-button modal-button" data-toggle-modal="myUploads">My Uploads</button>
                <div class="base-modal" id="likedSpots" data-likes-loaded="false">
                    <div class="base-modal-inner" id="likedSpotsInner">
                        <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert close-modal" data-toggle-modal="likedSpots">
                        <div class="base-modal-content" id="likesObserverContainer">
                            <div class="profile-spots-container" id="likedSpotsContainer"></div>
                        </div>
                    </div>
                </div>
                <div class="base-modal" id="myUploads" data-uploads-loaded="false">
                    <div class="base-modal-inner" id="myUploadsInner">
                        <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert close-modal" data-toggle-modal="myUploads">
                        <div class="base-modal-content" id="myUploadsObserverContainer">
                            <div class="profile-spots-container" id="myUploadsContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-image-modal-outer" id="profileImageModalOuter">
        <div class="profile-image-modal-container" id="profileImageModalContainer">
            <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert" onclick="hideProfileImageModal()">
            <p style="align-self: center; font-weight: bold;">Preview</p>

            <div class="profile-image-container" style="width: 50%;">
                <div class="profile-settings-picture" style="background-image: url('/images/defaultProfile2.png'); width: 100%;" id="profilePicturePreview">
                </div>
                <input type="file" accept="image" name="profilePicture" id="profilePictureInput" style="display: none;">
            </div>
            <button class="default-button" style="justify-self: flex-end;" id="confirmProfileImageUpdate">CONFIRM</button>
        </div>
    </div>
</body>
<script>

    let user = JSON.parse('<%- JSON.stringify(user)%>')
    let twoFactorAuthPill = document.getElementById("twoFactorAuthPill")
    let darkModePill = document.getElementById("darkModePill")
    let darkMapPill = document.getElementById("darkMapPill")

    let twoFactorAuthPillCircle = document.getElementById("twoFactorAuthPillCircle")
    let darkModePillCircle = document.getElementById("darkModePillCircle")
    let darkMapPillCircle = document.getElementById("darkMapPillCircle")

    function updateSettingsDisplay() {
        twoFactorAuthPill.classList.add(user.settings.twoFactorAuth ? "pill-on" : "pill-off")
        darkModePill.classList.add(user.settings.darkMode ? "pill-on" : "pill-off")
        darkMapPill.classList.add(user.settings.darkMap ? "pill-on" : "pill-off")

        twoFactorAuthPillCircle.classList.add(user.settings.twoFactorAuth ? "pill-circle-on" : "pill-circle-off")
        darkModePillCircle.classList.add(user.settings.darkMode ? "pill-circle-on" : "pill-circle-off")
        darkMapPillCircle.classList.add(user.settings.darkMap ? "pill-circle-on" : "pill-circle-off")
    }
    updateSettingsDisplay()

    function filesToBase64(img) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader
            reader.onload = () => resolve(reader.result)
            reader.onerror = reject
            reader.readAsDataURL(img)
        })
    }

    let likesObserverContainer = document.getElementById("likesObserverContainer")
    let myUploadsObserverContainer = document.getElementById("myUploadsObserverContainer")

    const likesObserverCallback = (entries, observer) => {
        entries.forEach(item => {
            console.log(item.isIntersecting)
            console.log(item.target.getAttribute("data-spotid"))
            if (item.isIntersecting) {
                observer.unobserve(item.target)
                let spotId = item.target.getAttribute("data-spotid")
                getLikesImages(spotId)
            }
        })
    }

    const myUploadsObserverCallback = (entries, observer) => {
        entries.forEach(item => {
            console.log(item.isIntersecting)
            console.log(item.target.getAttribute("data-spotid"))
            if (item.isIntersecting) {
                observer.unobserve(item.target)
                getUploadImages(item.target.getAttribute("data-spotid"))
            }
        })
    }

    const likesObserver = new IntersectionObserver(likesObserverCallback, {
        root: likesObserverContainer,
        threshold: 1
    })

    const myUploadsObserver = new IntersectionObserver(myUploadsObserverCallback, {
        root: myUploadsObserverContainer,
        threshold: 1
    })

    let currentOpenModal = null
    let currentOpenModalID = null
    let eventController = null

    function hideModal(id) {
        let modalOuter = document.getElementById(`${id}`)
        let modalInner = modalOuter.querySelectorAll(".base-modal-inner")[0]
        modalOuter.style.opacity = "0"
        modalOuter.style.pointerEvents = "none"
        modalInner.style.transform = "translateY(-20px)"
        currentOpenModal = null
    }

    async function showModal(id) {
        let modalOuter = document.getElementById(`${id}`)
        let modalInner = modalOuter.querySelectorAll(".base-modal-inner")[0]
        modalOuter.style.opacity = "1"
        modalOuter.style.pointerEvents = "auto"
        modalInner.style.transform = "translateY(0)"
        currentOpenModal = id
        if (modalOuter.hasAttribute("data-uploads-loaded")) {
            if (modalOuter.getAttribute("data-uploads-loaded") === "false") {
                console.log("Uploads loading")
                modalOuter.setAttribute("data-uploads-loaded", "true")
                retrieveUploads()
            }
        }
        if (modalOuter.hasAttribute("data-likes-loaded")) {
            if (modalOuter.getAttribute("data-likes-loaded") === "false") {
                console.log("Likes Loading")
                modalOuter.setAttribute("data-likes-loaded", "true")
                retrieveLikes()
            }
        }
    }

    function hideEditImagesSection(id) {
        document.getElementById(`spotPicturesCarousel-${id}`).classList.remove("hidden")
        document.getElementById(`editPicturesDiv-${id}`).classList.add("hidden")
        document.getElementById(`cancelEditImagesButton-${id}`).classList.add("hidden")
        document.getElementById(`editImagesButton-${id}`).classList.remove("hidden")
    }

    function showEditImagesSection(id) {
        document.getElementById(`spotPicturesCarousel-${id}`).classList.add("hidden")
        document.getElementById(`editPicturesDiv-${id}`).classList.remove("hidden")
        document.getElementById(`cancelEditImagesButton-${id}`).classList.remove("hidden")
        document.getElementById(`editImagesButton-${id}`).classList.add("hidden")
    }

    function updateModalListeners() {
        if (eventController) {
            eventController.abort()
        }
        eventController = new AbortController()
        let eventSignal = eventController.signal
        document.querySelectorAll(".modal-button").forEach(elm => {
            elm.addEventListener("click", function() {
                if(currentOpenModal !== null) {
                    hideModal(currentOpenModal)
                }
                let id = this.getAttribute("data-toggle-modal")
                showModal(id)
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".close-modal").forEach(elm => {
            elm.addEventListener("click", function() {
                let id = this.getAttribute("data-toggle-modal")
                hideModal(id)
                if (currentOpenModalID) {
                    try{
                        clearSelections(currentOpenModalID)
                        hideEditImagesSection(currentOpenModalID)
                    } catch(error){
                        console.log(error)
                    }
                }
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".edit-images-button").forEach(elm => {
            elm.addEventListener("click", function() {
                let id = elm.getAttribute("data-toggle-edit")
                currentOpenModalID = id
                showEditImagesSection(id)
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".cancel-edit-images-button").forEach(elm => {
            elm.addEventListener("click", function() {
                let id = elm.getAttribute("data-toggle-edit")
                clearSelections(id)
                hideEditImagesSection(id)
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".edit-pictures-item").forEach(elm => {
            elm.addEventListener("click", function() {
                let id = elm.getAttribute("data-id")
                let index = parseInt(elm.getAttribute("data-picture-index"))
                let check = elm.querySelectorAll(".edit-pictures-check")[0]
                if (selectedImages[`spot-${id}`].imageList[index].isSelected === false) {
                    selectedImages[`spot-${id}`].imageList[index].isSelected = true
                    check.classList.remove("hide-check")

                } else {
                    selectedImages[`spot-${id}`].imageList[index].isSelected = false
                    check.classList.add("hide-check")

                }

                let noneSelected = true
                selectedImages[`spot-${id}`].imageList.forEach(item => {
                    if (item.isSelected === true) {
                        noneSelected = false
                    }
                })
                if (noneSelected) {
                    document.getElementById(`confirmEditImagesButton-${id}`).classList.add("hidden")
                } else {
                    document.getElementById(`confirmEditImagesButton-${id}`).classList.remove("hidden")
                }
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".confirm-edit-images-button").forEach(elm => {
            elm.addEventListener("click", async () => {
                let id = elm.getAttribute("data-id")
                let sendData = selectedImages[`spot-${id}`]
                let selectedLength = 0
                sendData.imageList.forEach(item => {
                    if (item.isSelected) {
                        selectedLength++
                    }
                })

                if (selectedLength === sendData.imageList.length) {
                    addNewAlert("ERROR", "At least one image needed in spot")
                    return
                }
                await fetch("/deleteImages", {
                    method: "POST",
                        headers: {
                        // "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(sendData)
                })
                .then(async res => {
                    let resData = await res.json()
                    console.log(resData)
                    if (resData.status === "SUCCESS") {
                        updateModalImages(id, resData.newImages)
                        updateModalListeners()
                        document.getElementById(`frontImageEdit-${id}`).style.backgroundImage = `url("${resData.newImages[0]}")`
                        addNewAlert(resData.status, resData.message)
                    } else {
                        addNewAlert(resData.status, resData.message)
                    }
                })
                .catch(error => {
                    console.log(error)
                })
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".add-new-images").forEach(elm => {
            elm.addEventListener("submit", async function(e) {
                e.preventDefault()
                let id = elm.getAttribute("data-id")
                let images = document.getElementById(`addSpotImages-${id}`)
                let totalSize = 0
                let imagesPromise = []
                for (let x = 0; x < images.files.length; x++) {
                    const compressedImage = await imageConversion.compressAccurately(images.files[x], 400)
                    totalSize = totalSize + compressedImage.size
                    imagesPromise.push(filesToBase64(compressedImage))
                }
                let sizeInMB = totalSize / 1000000
                if (sizeInMB > 10) {
                    addNewAlert("ERROR", "Files are too large")
                    return
                }
                await Promise.all(imagesPromise)
                .then(res => {
                    console.log(res)
                    return fetch('/addSpotImages', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            imagesData: res,
                            spotID: id,
                            action: "addnew"
                        })
                    })

                })
                .then(async res => {
                    let resData = await res.json()
                    console.log(resData)
                    if (resData.status === "SUCCESS") {
                        addNewAlert(resData.status, resData.message)
                        updateModalImages(id, resData.newImages)
                        updateModalListeners()
                        currentOpenModalID = id
                        showEditImagesSection(id)
                        images.value = null
                        document.getElementById(`fileSizeSpan-${id}`).innerText = "0"
                    } else {
                        addNewAlert(resData.status, resData.message)
                    }
                })
                .catch(error => {
                    console.log(error)
                })

                console.log(sizeInMB)
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".add-new-images-input").forEach(elm => {
            elm.addEventListener("change", function() {
                let id = elm.getAttribute("data-id")
                let fileSizeSpan = document.getElementById(`fileSizeSpan-${id}`)
                let totalSize = 0
                for (let x = 0; x < elm.files.length; x++) {
                    totalSize = totalSize + elm.files[x].size
                }
                let sizeInMB = totalSize / 1000000
                if (sizeInMB > 10) {
                    fileSizeSpan.style.color = "red"
                } else {
                    fileSizeSpan.style.color = "green"
                }
                
                fileSizeSpan.innerText = sizeInMB.toFixed(2)
            }, {signal: eventSignal})
        })

        document.querySelectorAll(".delete-spot").forEach(elm => {
            elm.addEventListener("click", function() {
                let id = elm.getAttribute("data-id")
                let confirmDeleteSpotDiv = document.getElementById(`confirmDeleteSpotDiv-${id}`).classList.remove("hidden")
                elm.classList.add("hidden")
                window.location.replace(`#confirmDeleteSpotDiv-${id}`)
            })
        })

        document.querySelectorAll(".cancel-delete-spot").forEach(elm => {
            elm.addEventListener("click", function() {
                let id = elm.getAttribute("data-id")
                let confirmDeleteSpotDiv = document.getElementById(`confirmDeleteSpotDiv-${id}`).classList.add("hidden")
                let deleteSpot = document.getElementById(`deleteSpot-${id}`).classList.remove("hidden")
            })
        })

        document.querySelectorAll(".confirm-delete-spot").forEach(elm => {
            elm.addEventListener("click", async function() {
                let id = elm.getAttribute("data-id")
                await fetch("/deleteSpot", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        spotID: id
                    })
                })
                .then(async res => {
                    let resData = await res.json()
                    console.log(resData)
                    if (resData.status === "SUCCESS") {
                        window.location.replace("/profile")
                    } else {
                        addNewAlert(resData.status)
                    }
                })
            })
        })
    }
    updateModalListeners()

    //close modal when clicked outside
    document.addEventListener("click", function(e) {
        if (currentOpenModal) {
            let modal = document.getElementById(`${currentOpenModal}`).querySelectorAll(".base-modal-inner")[0]
            let alertDiv = document.getElementById("alertDiv")
            if (!modal.contains(e.target) && !e.target.classList.contains("modal-button") && !alertDiv.contains(e.target)) {
                hideModal(currentOpenModal)
                if (currentOpenModalID) {
                    try{
                        clearSelections(currentOpenModalID)
                        hideEditImagesSection(currentOpenModalID)
                    } catch(error){
                        console.log(error)
                    }
                }
            }
        }
    })

    let selectedImages = {}
    let imagesMap = new Map()

    function updateModalImages(id, images) {
        let editPicturesDiv = document.getElementById(`editPicturesDiv-${id}`)
        let spotPicturesCarousel = document.getElementById(`spotPicturesCarousel-${id}`).querySelectorAll(".swiper-wrapper")[0]
        let imageNodes = ''
        let carouselNodes = ''
        selectedImages[`spot-${id}`] = {
            imageList: [],
            id: id
        }

        for (let x = 0; x < images.length; x++) {
            let image = `<div class="edit-pictures-item" style="background-image: url('${images[x].imageUrl}');" data-picture-index="${x}" data-id="${id}" draggable="true">
                <div class="edit-pictures-check hide-check">
                    <img src="/logos/checkLight.png" alt="" style="width: 80%;">
                </div>
                <div class="edit-check-circle"></div>
            </div>`

            let cNode = `<div class="swiper-slide">
                <div class="carousel-image" style="background-image: url('${images[x].imageUrl}'); background-size: contain;"></div>
            </div>`

            imageNodes = imageNodes + image
            carouselNodes = carouselNodes + cNode
            selectedImages[`spot-${id}`].imageList.push({
                isSelected: false,
                position: images[x].position,
                imageId: images[x]._id,
                spotId: images[x].spotId
            })
        }

        console.log("spot images are", selectedImages)

        editPicturesDiv.replaceChildren()
        editPicturesDiv.insertAdjacentHTML("beforeend",imageNodes)
        spotPicturesCarousel.replaceChildren()
        spotPicturesCarousel.insertAdjacentHTML("beforeend",carouselNodes)
        const swiper = new Swiper(`.swiper${id}`, {
            direction: 'horizontal',
            loop: true,
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            scrollbar: {
                el: '.swiper-scrollbar',
            },
            obsever: true,
            observeParents: true
        });
        // swiper.appendSlide(`<div class="swiper-slide">
        //     <div class="carousel-image" style="background-image: url('/images/loading.png'); background-size: contain;"></div>
        // </div>`)
    }

    function clearSelections(id) {
        let editPicturesDiv = document.getElementById(`editPicturesDiv-${id}`)
        document.getElementById(`confirmEditImagesButton-${id}`).classList.add("hidden")
        editPicturesDiv.querySelectorAll(".edit-pictures-item").forEach(elm => {
            let check = elm.querySelectorAll(".edit-pictures-check")[0]
            check.classList.add("hide-check")
            selectedImages[`spot-${id}`].imageList.forEach(elm => {
                elm.isSelected = false
            })
        })
    }

    async function retrieveUploads() {
        await fetch("/getMyUploads", {
            method: "GET"
        })
        .then(async res => {
            let resData = await res.json()
            if (resData.status === "SUCCESS") {
                let myUploadsContainer = document.getElementById("myUploadsContainer")
                let spotsContentDiv = document.getElementById("spotsContentDiv")
                if (resData.myUploads.length === 0) {
                    myUploadsContainer.insertAdjacentHTML("beforeend", "<p>No Uploads, go to <a href='/map' style='color: purple;'>map</a> to create new</p>")
                }
                for (let x = 0; x < resData.myUploads.length; x++) {
                    let elementNode = `<div class="profile-spot-item uploads-front-banner" id="uploadsFrontBanner${resData.myUploads[x]._id}" data-spotid="${resData.myUploads[x]._id}">
                        <div class="profile-spot-item-info">
                            <div style="margin: 1em; display: flex; align-items: center; gap: 0.5em;">
                                <a class="purple-button" href="/map?spot=${resData.myUploads[x]._id}" style="display: block;">View</a>
                                <button class="purple-button modal-button" data-toggle-modal="editSpot${resData.myUploads[x]._id}">Edit</button>
                            </div>
                        </div>
                        <div class="background-dark-filter" style="background-image: url('/images/loading.png');" id="frontImageEdit-${resData.myUploads[x]._id}"></div>
                    </div>`

                    let modalNode = `<div class="base-modal" id="editSpot${resData.myUploads[x]._id}">
                        <div class="base-modal-inner" id="editSpot${resData.myUploads[x]._id}Inner">
                            <img src="./logos/closelight.png" alt="close menu" class="close-menu2 image-invert close-modal" data-toggle-modal="editSpot${resData.myUploads[x]._id}">
                            <div class="edit-pictures-container">
                                <div class="edit-pictures-div hidden" id="editPicturesDiv-${resData.myUploads[x]._id}"></div>

                                <div class="swiper swiper${resData.myUploads[x]._id}" style="height: 60vh;" id="spotPicturesCarousel-${resData.myUploads[x]._id}">
                                    <div class="swiper-wrapper"></div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>

                                <div style="display: flex; align-items: center; gap: 1em; margin-top: 2em;">
                                    <button class="base-button edit-images-button" data-toggle-edit="${resData.myUploads[x]._id}" id="editImagesButton-${resData.myUploads[x]._id}">Edit Images</button>
                                    <button class="base-button cancel-edit-images-button hidden" data-toggle-edit="${resData.myUploads[x]._id}" id="cancelEditImagesButton-${resData.myUploads[x]._id}">Cancel</button>
                                    <button class="base-button confirm-edit-images-button hidden" style="border: 1px solid red; color: red;" id="confirmEditImagesButton-${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}">Delete</button>
                                </div>

                                <form action="" class="add-new-images" data-id="${resData.myUploads[x]._id}" style="margin-top: 2em; display: flex; flex-direction: column; align-items: start;">
                                    <label for="spotImages" style="margin-bottom: 0.5em;">Add new Images</label>
                                    <input type="file" name="images" class="add-new-images-input" id="addSpotImages-${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}" accept="image/png, image/jpeg" multiple required>
                                    <p style="font-size: 0.8em; margin-top: 5px;">File size: <span id="fileSizeSpan-${resData.myUploads[x]._id}">0</span> mb</p>
                                    <button class="base-button">Add</button>
                                </form>

                                <div class="edit-details">
                                    <label for="description">description</label>
                                    <textarea name="description" id="description" rows="4" style="padding: 0.3em; margin-top: 0.5em; border: 1px solid gray; border-radius: 4px; margin-bottom: 1em;"></textarea>

                                    <label for="spottype">Spot Type</label>
                                    <select name="spottype" id="spottype" style="padding: 0.3em; margin-top: 0.5em; border: 1px solid gray; border-radius: 4px; margin-bottom: 1em;">
                                        <option value="${resData.myUploads[x].spottype}" selected>${resData.myUploads[x].spottype}</option>
                                        <option value="rail">rail</option>
                                        <option value="stairs">stairs</option>
                                        <option value="park">park</option>
                                        <option value="ledge">ledge</option>
                                        <option value="other">other</option>
                                    </select>
                                </div>
                                <div id="confirmDeleteSpotDiv-${resData.myUploads[x]._id}" class="hidden">
                                    <p>Are you sure you wish to delete this spot?</p>
                                    <div>
                                        <button class="base-button cancel-delete-spot" id="cancelDeleteSpot-${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}">Cancel</button>
                                        <button class="base-button confirm-delete-spot" style="border: 1px solid red; color: red;" id="confirmDeleteSpot-${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}">Delete Spot</button>
                                    </div>    
                                </div>
                                <button class="base-button delete-spot" style="border: 1px solid red; color: red;" id="deleteSpot-${resData.myUploads[x]._id}" data-id="${resData.myUploads[x]._id}">Delete Spot</button>
                            </div>
                        </div>
                    </div>`
                    myUploadsContainer.insertAdjacentHTML("beforeend", elementNode)
                    spotsContentDiv.insertAdjacentHTML("beforeend", modalNode)
                }
                updateModalListeners()
                document.querySelectorAll(".uploads-front-banner").forEach(item => {
                    myUploadsObserver.observe(item)
                })
            } else {
                updateModalListeners()
                addNewAlert("ERROR", "Could not get Uploads")
            }
        })
        .catch(error => {
            console.log(error)
            updateModalListeners()
        })
    }

    async function getUploadImages(spotId) {
        await fetch("/getSpotImages", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                spotId: spotId,
                action: "all"
            })
        })
        .then(async res => {
            let resData = await res.json()
            console.log(resData)
            if (resData.status === "SUCCESS") {
                document.getElementById(`uploadsFrontBanner${spotId}`).querySelector(".background-dark-filter").style.backgroundImage = `url('${resData.images[0].imageUrl}')`
                updateModalImages(spotId, resData.images)
            }
        })
    }

    async function retrieveLikes() {
        await fetch("/getLikedSpots", {
            method: "GET"
        })
        .then(async res => {
            let resData = await res.json()
            console.log(resData)
            if (resData.status === "SUCCESS") {
                let likedSpotsContainer = document.getElementById("likedSpotsContainer")
                if (resData.myLikes.length === 0) {
                    likedSpotsContainer.insertAdjacentHTML("beforeend", "<p>No liked spots, go to <a href='/map' style='color: purple;'>map</a> to explore</p>")
                }
                for (let x = 0; x < resData.myLikes.length; x++) {
                    // let frontImage = ""
                    // for (let item of resData.frontImage) {
                    //     if (item.spotId === resData.myLikes[x]._id) {frontImage = item.imageUrl; break;}
                    // }
                    let elementNode = `<div class="profile-spot-item likes-front-banner" id="likesFrontBanner${resData.myLikes[x]._id}" data-spotid="${resData.myLikes[x]._id}">
                        <div class="profile-spot-item-info">
                            <div style="margin: 1em;">
                                <a class="purple-button" href="/map?spot=${resData.myLikes[x]._id}" style="display: block;">View</a>
                            </div>
                        </div>
                        <div class="background-dark-filter" style="background-image: url('/images/loading.png');"></div>
                    </div>`
                    likedSpotsContainer.insertAdjacentHTML("beforeend", elementNode)
                }
                document.querySelectorAll(".likes-front-banner").forEach(item => {
                    likesObserver.observe(item)
                })
            }
        })
    }
    // retrieveLikes()
    async function getLikesImages(spotId) {
        await fetch("/getSpotImages", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                spotId: spotId,
                action: "first"
            })
        })
        .then(async res => {
            let resData = await res.json()
            console.log(resData)
            if (resData.status === "SUCCESS") {
                // updateModalImages(spotId, resData.images)
                document.getElementById(`likesFrontBanner${spotId}`).querySelector(".background-dark-filter").style.backgroundImage = `url('${resData.images[0].imageUrl}')`
            }
        })
    }

    let profilePictureInput = document.getElementById("profilePictureInput")
    let profilePreview = ""
    document.getElementById("editProfileImage").addEventListener("click", function() {
        profilePictureInput.click()
    })

    profilePictureInput.addEventListener("change", function() {
        console.log(profilePictureInput.files[0].size)
        filesToBase64(profilePictureInput.files[0])
        .then(fileRes => {
            // console.log(fileRes)
            profilePreview = fileRes
            let prev = document.getElementById("profilePicturePreview")
            prev.style.backgroundImage = `url("${profilePreview}")`
            openProfileImageModal()
        })
        .catch(error => {
            console.log(error)
        })
    })

    function openProfileImageModal() {
        let profileImageModalOuter = document.getElementById("profileImageModalOuter")
        let profileImageModalContainer = document.getElementById("profileImageModalContainer")
        profileImageModalOuter.style.opacity = 1
        profileImageModalContainer.style.transform = "translateY(0)"
        profileImageModalOuter.style.pointerEvents = "auto"
    }

    function hideProfileImageModal() {
        let profileImageModalOuter = document.getElementById("profileImageModalOuter")
        let profileImageModalContainer = document.getElementById("profileImageModalContainer")
        profileImageModalOuter.style.opacity = 0
        profileImageModalContainer.style.transform = "translateY(-20%)"
        profileImageModalOuter.style.pointerEvents = "none"
    }

    // document.getElementById("confirmProfileImageUpdate").addEventListener("click", function() {
    //     fetch('/updateProfileImage', {
    //         method: "POST",
    //         headers: {
    //             // "Accept": "application/json",
    //             "Content-Type": "application/json"
    //         },
    //         body: JSON.stringify({
    //             profileImage: profilePreview
    //         })
    //     })
    //     .then(res => {
    //         console.log(res)
    //     })
    //     .catch(error => {
    //         console.log(error)
    //     })
    // })

    $(document).ready(function () {

        $(".profile-pill-div").on("click", function() {
            $(this).toggleClass("pill-on")
            let pillID = $(this).attr("id") + "Circle"
            let pillVal = $(this).attr("id") + "Value"
            $(`#${pillID}`).toggleClass("pill-circle-on")
            if ($(`#${pillVal}`).val() == "true") {
                $(`#${pillVal}`).val("false")
            } else {
                $(`#${pillVal}`).val("true")
            }
            console.log($(`#${pillVal}`).val())
            $.ajax({
                url: "updateProfile",
                method: "post",
                data: {
                    twoFactorAuth: $("#twoFactorAuthPillValue").val(),
                    darkMode: $("#darkModePillValue").val(),
                    darkMap: $("#darkMapPillValue").val(),
                },
                success: function(res) {
                    console.log(res)
                    if (res.status === "SUCCESS") {
                        if ($("#darkModePillValue").val() === "true") {
                            document.body.classList.add("dark-mode")
                            document.body.classList.remove("light-mode")
                        } else if ($("#darkModePillValue").val() === "false") {
                            document.body.classList.remove("dark-mode")
                            document.body.classList.add("light-mode")
                        } else {
                            document.body.classList.remove("dark-mode")
                            document.body.classList.remove("light-mode")
                        }
                        addNewAlert(res.status, res.message)
                    } else if (res.status === "ERROR") {
                        addNewAlert(res.status, res.message)
                    }
                },
                error: function(error) {
                    console.log(error)
                }
            })
        })

        $("#confirmProfileImageUpdate").on("click", function() {
            $.ajax({
                url: "/updateProfileImage",
                method: "post",
                data: {
                    profileImage: profilePreview
                },
                success: function(res) {
                    console.log(res)
                    $("#profilePicture").css('background-image', `url('${profilePreview}')`)
                    hideProfileImageModal()
                    addNewAlert(res.status, res.message)
                },
                error: function(error) {
                    console.log(error)
                }
            })
        })
    })
</script>
</html>