<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skatespot App</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <%- include('templates/nav.ejs') %>
    <%- include('templates/alert.ejs') %>
    <%- include('templates/theme.ejs') %>
    <form action="" method="post" class="auth-div" id="submitForm">
        <p style="text-align: center; font-size: 1.5em;">Login Verification</p>
        <input type="text" class="auth-input" placeholder="token" name="token" id="token" required>
        <p id="tokenExpiryCounter">Token Expires in <span id="timerSpan"></span></p>
        <p id="resendTokenDiv">Token Expired</p>
        <button type="button" class="secondary-button" id="resendTokenButton">resend</button>
        <button class="auth-button">Confirm</button>
    </form>
</body>
<script>
    let isExpired = '<%= expired %>'
    let tokenExpiryCounter = document.getElementById("tokenExpiryCounter")
    let resendTokenDiv = document.getElementById("resendTokenDiv")
    if (isExpired === "true") {
        tokenExpiryCounter.style.display = "none"
        resendTokenDiv.style.display = "flex"
    } else {
        tokenExpiryCounter.style.display = "block"
        resendTokenDiv.style.display = "none"
    }
    console.log(isExpired)
    let timerInterval = null
    function setTimer(duration, targetElement) {
        if (timerInterval !== null) {
            clearInterval(timerInterval)
        }
        let timerSpan = document.getElementById(targetElement)
        let temp = duration
        let initialMinute = parseInt((duration / 1000) / 60)
        let initialSeconds = parseInt((duration / 1000) - (initialMinute * 60))
        timerSpan.innerText = `${initialMinute}:${initialSeconds}`
        timerInterval = setInterval(() => {
            temp = (temp - 1000)
            let minute = parseInt((temp / 1000) / 60)
            let seconds = parseInt((temp / 1000) - (minute * 60))
            timerSpan.innerText = `${minute}:${seconds}`
        }, 1000);
        let timer = setTimeout(() => {
            clearInterval(timerInterval)
            // timerSpan.innerText = "done"
            tokenExpiryCounter.style.display = "none"
            resendTokenDiv.style.display = "flex"
        }, duration)
    }
    let duration = '<%= duration %>'
    setTimer(parseInt(duration), "timerSpan")

    document.getElementById("submitForm").addEventListener("submit", async function(e) {
        e.preventDefault()
        await fetch("/twoFactorAuth", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                action: 'checkToken',
                sentToken: document.getElementById("token").value
            })
        })
        .then(async res => {
            let resData = await res.json()
            console.log(resData)
            addNewAlert(resData.status, resData.message)
            if (resData.status === "SUCCESS") {
                setTimeout(() => {
                    window.location.replace("/profile")
                }, 2000)
            }
        })
        .catch(error => {
            addNewAlert("ERROR", "Error checking token")
        })
    })

    document.getElementById("resendTokenButton").addEventListener("click", async function() {
        await fetch("/twoFactorAuth", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                action: 'resendToken',
            })
        })
        .then(async res => {
            let resData = await res.json()
            console.log(resData)
            setTimer(parseInt(resData.duration), "timerSpan")
            tokenExpiryCounter.style.display = "block"
            resendTokenDiv.style.display = "none"
            addNewAlert("SUCCESS", "New token sent")
        })
        .catch(error => {
            addNewAlert("ERROR", "Error with token resend")
        })
    })
</script>
</html>